<style>
  .featurette .btn--secondary {
        position: relative;        
        margin-top: -80%;
        padding: 10px 30px;
        background-color: rgba( 228, 87, 47, 1);
        box-shadow: 0 4px 8px rgba( 228, 87, 47, 0.5 );
        -webkit-box-shadow: 0 4px 8px rgba( 228, 87, 47, 0.5 );
    }
      .featurette .btn--secondary:hover {
        background-color: #222;        
      }
</style>

<!-- /snippets/blog-sidebar.liquid -->
<div class="one-whole genSection">              
  {% if settings.newsletter_form_action != blank %}
    {% assign form_action = settings.newsletter_form_action %}
  {% else %}
    {% assign form_action = '#' %}
  {% endif %}
  <h4>Newsletter</h4>
  <p>Sign up for our newsletter for the latest news, sweet offers and awesome jokes!</p>
  <form action="{{ form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="input-group">
    <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="Email" name="EMAIL" id="mail" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
    <span class="input-group-btn">
      <input type="submit" class="btn--secondary" name="subscribe" id="subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
    </span>
  </form>              
</div>

<div class="one-whole text-center featurette">       
    <a href="/collections/all?sort_by=best-selling" onClick="_gaq.push(['_trackEvent', 'homepageCases', 'Click', 'Phone Cases CTA',1.00,true]);" > 
        <img src="https://cdn.shopify.com/s/files/1/1159/6060/files/BestSellers2.jpg?8096162875862619056" alt="Shop Best Sellers" />
        <button class="btn--secondary">
            Shop Best Sellers
        </button>  
    </a>
    <img width=0 height=0 src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" onload="_gaq.push(['_trackEvent', 'homepageCases', 'Impression', 'Phone Cases CTA',2.00,true]);"/>
</div>

{% comment %}
  Recent blog posts
<h4>{{ 'blogs.sidebar.recent_articles' | t }}</h4>
{% endcomment %}
<h4>Recent Features</h4>
<ul class="no-bullets blogRight">
  {% for article in blogs[blog.handle].articles limit:6 %}
    <li>
      <a href="{{ article.url }}">{{ article.title }}</a>
      <br>
      <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time>
    </li>
  {% endfor %}
</ul>

{% comment %}
  Blog tags
{% endcomment %}
{% if blog.all_tags.size > 0 %}
  <h4>{{ 'blogs.sidebar.categories' | t }}</h4>
  <ul class="no-bullets">
    {% for tag in blog.all_tags %}
      {% if current_tags contains tag %}
      <li>{{ tag }}</li>
      {% else %}
      <li>{{ tag | link_to_tag: tag }}</li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
