</main>
<div class="grid--full one-whole  text-center genSection bigger-padding">
<div class="one-whole text-center big-padding big-margin" id="collabsWith">
 	<h3>We Collaborate With</h3>
 	<div class=" large--one-fifth left medium--one-third small--one-half left">
	 	<a href="/pages/artists">
		 	<div class="btn--secondary">Shop</div>
	 		<img src="{{ 'collabboxpic1.jpg' | asset_url }}" />
	 		<h5>artists</h5>
	 	</a>	
 	</div> 
 	<div class=" large--one-fifth medium--one-third small--one-half left">
	 	<a href="/pages/nonprofits">
		 	<div class="btn--secondary">Shop</div>
	 		<img src="{{ 'collabboxpic2.jpg' | asset_url }}" />
	 		<h5>causes</h5>
	 	</a>	
 	</div> 
 	<div class=" large--one-fifth medium--one-third small--one-half left">
	 	<a href="/pages/musicians">
		 	<div class="btn--secondary">Shop</div>
	 		<img src="{{ 'collabboxpic3.jpg' | asset_url }}" />
	 		<h5>musicians</h5>
	 	</a>	
 	</div> 
 	<div class=" large--one-fifth medium--one-third small--one-half left">
	 	<a href="/pages/influencers">
		 	<div class="btn--secondary">Shop</div>
	 		<img src="{{ 'collabboxpic4.jpg' | asset_url }}" />
	 		<h5>influencers</h5>
	 	</a>	
 	</div> 
 	<div class=" large--one-fifth medium--one-third small--one-half left">
	 	<a href="/pages/brands">
		 	<div class="btn--secondary">Shop</div>
	 		<img src="{{ 'collabboxpic5.jpg' | asset_url }}" />
	 		<h5>brands</h5>
	 	</a>	
 	</div> 
</div>
</div>
<main class="wrapper" role="main">