<div class="one-whole text-center big-padding big-margin" id="collabsWith">
 	<h3>We Collaborate With</h3>
 	<div class="grid__item large--one-fifth left medium--one-third small--one-half left">
	 	<a href="#">
		 	<div class="btn--secondary">Shop</div>
	 		<img src="{{ 'collabboxpic1.jpg' | asset_url }}" />
	 		<h5>artists</h5>
	 	</a>	
 	</div> 
 	<div class="grid__item large--one-fifth medium--one-third small--one-half left">
	 	<a href="#">
		 	<div class="btn--secondary">Shop</div>
	 		<img src="{{ 'collabboxpic2.jpg' | asset_url }}" />
	 		<h5>causes</h5>
	 	</a>	
 	</div> 
 	<div class="grid__item large--one-fifth medium--one-third small--one-half left">
	 	<a href="#">
		 	<div class="btn--secondary">Shop</div>
	 		<img src="{{ 'collabboxpic3.jpg' | asset_url }}" />
	 		<h5>musicians</h5>
	 	</a>	
 	</div> 
 	<div class="grid__item large--one-fifth medium--one-third small--one-half left">
	 	<a href="#">
		 	<div class="btn--secondary">Shop</div>
	 		<img src="{{ 'collabboxpic4.jpg' | asset_url }}" />
	 		<h5>influencers</h5>
	 	</a>	
 	</div> 
 	<div class="grid__item large--one-fifth medium--one-third small--one-half left">
	 	<a href="#">
		 	<div class="btn--secondary">Shop</div>
	 		<img src="{{ 'collabboxpic5.jpg' | asset_url }}" />
	 		<h5>brands</h5>
	 	</a>	
 	</div> 
</div>
