</main>
  <section class="section-container filterFrame filterClick">
  	<div class="one-whole" id="filterHolder">
  		<div class="one-third small--one-whole text-left mainFilter filterClick">
	  		<b class="filterClick">Themes</b>
	  		
	  		<i class="fa fa-chevron-down filterClick"></i>
	  		<div class="filterBox filterClick">
		  		<label for="Bright/Brave"><input id="Bright/Brave" name="Bright/Brave" value="Bright-Brave" type="checkbox" />Bright & Brave</label>
				<label for="Dark/Spooky"><input id="Dark/Spooky" name="Dark/Spooky" value="Dark-Spooky" type="checkbox" />Dark & Spooky</label>
				<label for="Minimal"><input id="Minimal" name="Minimal" value="Minimal" type="checkbox" />Minimal</label>
				<label for="Patterns"><input id="Patterns" name="Patterns" value="Patterns" type="checkbox" />Patterns</label>
				<label for="Illustration"><input name="Illustration" id="Illustration" value="Illustration" type="checkbox" />Illustration</label>
				<label for="Animals"><input name="Animals" id="Animals" value="Animals" type="checkbox" />Animals</label>
				<label for="Olympics"><input name="Olympics" id="Olympics" value="Olympics" type="checkbox" />Olympics</label>
				<label for="Horoscope"><input name="Horoscope" id="Horoscope" value="Horoscope" type="checkbox" />Horoscope</label>
				<label for="Musical"><input name="Musical" id="Musical" value="Musical" type="checkbox" />Musical</label>
				
				<label for="Anime"><input name="Anime" id="Anime" value="Anime" type="checkbox" />Anime</label>
				<label for="Nature"><input name="Nature" id="Nature" value="Nature" type="checkbox" />Nature</label>
				<label for="Solid"><input id="Solid" name="Solid" value="Solid" type="checkbox" />Solid</label>
				<label for="Pastel"><input id="Pastel" name="Pastel" value="Pastel" type="checkbox" />Pastel</label>
				<label for="Anime"><input name="Anime" id="Anime" value="Anime" type="checkbox" />Anime</label>
				<label for="Nature"><input name="Nature" id="Nature" value="Nature" type="checkbox" />Nature</label>
				<label for="Photo"><input name="Photo" id="Photo" value="Photo" type="checkbox" />Photo</label>
				<label for="Cartoon"><input name="Cartoon" id="Cartoon" value="Cartoon" type="checkbox" />Cartoon</label>
				<label for="Gaming"><input name="Gaming" id="Gaming" value="Gaming" type="checkbox" />Gaming</label> 
				<label for="Causes"><input name="Causes" id="Causes" value="Causes" type="checkbox" />Causes</label>
				<label for="Sports"><input name="Sports" id="Sports" value="Sports" type="checkbox" />Sports</label>
				<label for="Text"><input name="Text"  id="Text" value="Text" type="checkbox" />Text</label>
				<label for="For Kids"><input name="For Kids" id="For Kids" value="For Kids" type="checkbox" />For Kids</label>
				<label for="Food"><input name="Food" value="Food" id="Food" type="checkbox" />Food</label>
				<label for="Seasonal"><input name="Seasonal" id="Seasonal" value="Seasonal" type="checkbox" />Seasonal</label>
				
	  		</div>
	  	</div>
	  	<div class="one-third small--one-whole text-left mainFilter filterClick">
	  		<b class="filterClick">Colors</b>
	  		<i class="fa fa-chevron-down filterClick"></i>
	  		<div class="filterBox filterClick">
		  		<label for="Black"><input name="Black" id="Black" value="Black" type="checkbox" />Black</label>
				<label for="Blue"><input name="Blue" id="Blue" value="Blue" type="checkbox" />Blue</label>
				<label for="Green"><input name="Green" id="Green" value="Green" type="checkbox" />Green</label>
				<label for="Red"><input name="Red" id="Red" value="Red" type="checkbox" />Red</label>
				<label for="Orange"><input name="Orange" id="Orange" value="Orange" type="checkbox" />Orange</label>
				<label for="Yellow"><input name="Yellow" id="Yellow" value="Yellow" type="checkbox" />Yellow</label>
				<label for="Purple"><input name="Purple" id="Purple" value="Purple" type="checkbox" />Purple</label>
				<label for="Multicolor"><input name="Multicolor" id="Multicolor" value="Multicolor" type="checkbox" />Multicolor</label>
				<label for="Grey"><input name="Grey" id="Grey" value="Grey" type="checkbox" />Grey</label>
				<label for="White"><input name="White" id="White" value="White" type="checkbox" />White</label>
	  		</div>
  		</div>	
	  		
  		<div class="one-third small--one-whole text-left mainFilter filterClick" style="border:0px;">
	  		<b class="filterClick">Partners</b>
	  		<i class="fa fa-chevron-down filterClick"></i>
	  		<div class="filterBox filterClick">
		  		<label for="NBA"><input name="NBA" id="NBA" value="NBA" type="checkbox" />NBA</label>
				<label for="MLB"><input name="MLB" id="MLB" value="MLB" type="checkbox" />MLB</label>
				<label for="NHL"><input name="NHL" id="NHL" value="NHL" type="checkbox" />NHL</label>
		  		<label for="Brand"><input name="Brand" id="Brand" value="brand" type="checkbox" />Brands</label>
				<label for="Nonprofits"><input name="Nonprofits" id="Nonprofits" value="Nonprofits" type="checkbox" />Nonprofits</label> 
				<label for="Artist"><input name="Artist" id="Artist" value="artist" type="checkbox" />Artists</label>
				<label for="Musician"><input name="Musician" id="Musician" value="musician" type="checkbox" />Musicians</label>
				<div class="one-whole text-right"><a href="/pages/more-collections" >See All Partners</a></div>
	  		</div>
  		</div>
   		<div style="clear: both"></div>
  	</div>
  </section>

<main class="wrapper main-content no-margin" role="main" id="theBody">

<div class="filterSection one-whole">
	<div id="which-Grid" class="hide small--show"><b>View:</b>
		<i class="fa fa-th-large selected" data-arrange="grid"><span class="smaller"> Grid</i>
		<i class="fa fa-square" data-arrange="single"><span class="smaller"> Single</span></i>
		<div style="clear:both"></div>
	</div>
	
	<div id="viewType" class="one-whole">
		Watch Style:
	 	<div class="viewBy selected" data-tag="">All</div> 
	 	<div class="viewBy" data-tag="SportWatch">Sport</div>
	 	<div class="viewBy"data-tag="MetalWatch" style="border:0px">Gunmetal</div>
	 	<div class="viewBy hide"data-tag="SSWatch" style="border:0px">Stainless Steel</div>
	 	
	</div>
	<div id="selectedTags" class="one-whole"><span id="sFilters" style="display:none">Selected filters:</span></div>
<div  class="grid__item one-third hide">
  Sort By
  <select id="sort-by">
    <option value="manual">Featured</option>
    <option value="price-ascending">Price: Low to High</option>
    <option value="price-descending">Price: High to Low</option>
    <option value="title-ascending">A-Z</option>
    <option value="title-descending">Z-A</option>
    <option value="created-ascending">Oldest to Newest</option>
    <option value="created-descending">Newest to Oldest</option>
    <option value="best-selling">Best Selling</option>
  </select>
</div>
<div style="clear: both"></div>
</div>

</main>

<script>
  /* Product Tag Filters - Good for any number of filters on any type of collection pages */
  var sortable ='';
  var collFilters = jQuery('.coll-filter');
  
  $('#browseBy a').click(function(e){
	  e.preventDefault();
	  query = $(this).attr('data-tag');
	  if(sortable =='') {
	      	window.location.href = jQuery('{{ 'tag' | link_to_tag: 'tag' }}').attr('href').replace('tag', query);
	      }else {
		     window.location.href = jQuery('{{ 'tag' | link_to_tag: 'tag' }}').attr('href').replace('tag', query)+'?arrange='+sortable; 
	      }
  })
    
	$('document').ready(function() {
		var allVals;
		var urlTags ='{{current_tags}}';
		var viewBy;
		var currentTag = '{{current_tags.first}}';
		var colTags = "{{collection.tags}}";
		colTags = colTags.replace('BlackHands', '');
		colTags = colTags.replace('WhiteHands', '');
		colTags = colTags.replace('RedHands', '');
		colTags = colTags.replace('BlueHands', '');
	//	console.log(colTags);
		var myParam = location.search.split('arrange=')[1];
		if(myParam) {
			 $('#which-Grid i').removeClass('selected');
			 $('#which-Grid i[data-arrange="'+myParam+'"]').addClass('selected');
			
			 if(myParam=='single') {
				 rearrange(myParam);
				
			 }
			 
			 
		 }
		 
		 $('#filterHolder input').each(function() {
			 $(this).parent('label').css('display', 'none');
			
			 if (colTags.toLowerCase().indexOf($(this).val().toLowerCase()) >= 0 ) {
			  		$(this).parent('label').css('display', 'block');
			  }
			  if (colTags.toLowerCase().indexOf($(this).attr('name').toLowerCase()) >= 0 ) {
			  		$(this).parent('label').css('display', 'block');
			  }
			 
			 if (urlTags.toLowerCase().indexOf($(this).val().toLowerCase()) >= 0 ) {
			  		$(this).prop('checked', true);
			  		$(this).parent('label').css('display', 'block');
			  		$('span#sFilters').show();
			  		$('#selectedTags').append('<div class="activeTag">'+$(this).val()+'<i class="fa fa-times-circle"></i></div>');
			  }else if (urlTags.toLowerCase().indexOf($(this).attr('name').toLowerCase()) >= 0 ) {
			  		$(this).prop('checked', true);
			  		$(this).parent('label').css('display', 'block');
			  		$('span#sFilters').show();
			  		$('#selectedTags').append('<div class="activeTag">'+$(this).value()+'<i class="fa fa-times-circle"></i></div>');
			  }
		 }) 
		 
		  $('.viewBy').each(function() {
			 
			  if (urlTags.toLowerCase().indexOf($(this).attr('data-tag').toLowerCase()) >= 0 ) {
			  		$('.viewBy').removeClass('selected');
			  		$(this).addClass('selected');
			  }

		  })
		 $('.activeTag').click(function() {
			 theTag = $(this).text();
			 
			 $('#filterHolder  :checkbox[value='+theTag+']').attr('checked', false);
			 loadTags();
		 })
		 
		 
		 //var myParam = location.search.split('arrange=')[1] ? location.search.split('arrange=')[1] : 'small--one-half';
		 $('#which-Grid i').click(function() {
			 analytics.track('Clicked '+$(this).attr('data-arrange')+' View');
			 rearrange($(this).attr('data-arrange'));
			 $('#which-Grid i').removeClass('selected');
			 $(this).addClass('selected');
		 })
		 
		 
		 function rearrange(val) {
			 sortable= val;
			 if(val=='single') {
				 $('.collection-matrix li').attr('class','grid__item large--one-quarter medium--one-third small--one-whole theProducts');
				
			 }else {
				 $('.collection-matrix li').attr('class','grid__item large--one-quarter medium--one-third small--one-half theProducts');
				 
			 }
		 } 
		 $('#seeFilters').click(function() {
			 $('#moreThemes').slideDown(200);
			 $(this).hide();
		 })	 
		 
		 $('#filterHolder label').click(function(){
			 Lname = $(this).attr('for');
			  analytics.track('Clicked product Filter', {
		      Name: Lname
		    });

			 $(".filterBox").css('opacity', '0');
			 loadTags();
		})
		 $('.viewBy').click(function(){
			  Lname = $(this).attr('data-tag');
			  analytics.track('Clicked style sorting', {
		      Name: Lname
		    });

			 $('.viewBy').removeClass('selected');
			 $(this).addClass('selected');
			 loadTags();
		})
		function loadTags() {	 
			 if($('#viewType .selected').attr('data-tag') !=='') {
			 	viewBy =$('#viewType .selected').attr('data-tag')+'+'
			 }else {
				viewBy =''; 
			 }
			 allVals = '';
		     $('#filterHolder :checked').each(function() {
		       allVals+=$(this).val()+'+';
		       
		     });
		     allVals = allVals+viewBy;
		     allVals = allVals.substring(0,allVals.length - 1);
		     
		    // allVals = allVals.slice(0,-1)
		   //  console.log(allVals);
		     window.location.href = jQuery('{{ 'tag' | link_to_tag: 'tag' }}').attr('href').replace('tag', allVals);
		 }
		 
		 
		 
		 
		 $('.mainFilter').click(function() {
			  var which = $('.filterBox',this);
			$(".filterBox").not(which).fadeOut(300);
			$('.filterBox',this).fadeToggle(300);	
		})
		
		 $('body').click(function(event) {
			//console.log(event.target.id );
			if(!$(event.target).hasClass('filterClick')) {
			//	console.log('clicked');
				$(".filterBox").fadeOut(300);
			}
		 })
		 
 	})


Shopify.queryParams = {};
if (location.search.length) {
  for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
    aKeyValue = aCouples[i].split('=');
    if (aKeyValue.length > 1) {
      Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
    }
  }
}
jQuery('#sort-by')
  .val('{{ collection.sort_by | default: collection.default_sort_by | escape }}')
  .bind('change', function() {
    Shopify.queryParams.sort_by = jQuery(this).val();
    location.search = jQuery.param(Shopify.queryParams).replace(/\+/g, '%20');
  });
</script>