<style>
    .valueprop {
        font-family: 'Bitter', serif !important;
        font-style: italic !important;      
        background-color: #f8f8f8; 
    }
        .valueprop .h {
            font-size: 30px !important;
        }
    .splitCTA  .h {
        font-family: 'Bitter', serif !important;
        font-size: 48px !important;
        font-weight: 700;
        font-style: bold !important;
    }
    
    .splitJoin {
        background-image: url("//cdn.shopify.com/s/files/1/1159/6060/files/splitJoinBG.jpg?8574882140426072241");
        background-size: cover;
        background-position: center;
        min-height: 400px;
    }
        .splitJoin button {
            color: #1083B2;
        }
    .splitShop {
        background-image: url("//cdn.shopify.com/s/files/1/1159/6060/files/splitShopBG.jpg?1477531382953755541");
        background-size: cover;
        background-position: center;
        min-height: 400px;
    }
        .splitShop button {
            color: #704860;
        }
    .splitCTA .btn--secondary {
        background-color: #fff;
        padding: 10px 30px;
        box-shadow: 0 4px 8px rgba(0,0,0, 0.25);
        -webkit-box-shadow: 0 4px 8px rgba(0,0,0, 0.25);
    }
    .splitCTA button {
        margin-top: 20px;
    }
        .splitCTA button:hover {
            background-color: #000;
        }
    .productNav a {
        color: #fff;
        text-transform: uppercase;
    }
        .productNav a:hover {
            color: rgba( 228, 87, 47, 1);
        }
    .productNav img {
        display: block;
        margin: 0 auto;   
    }
    .featurette .btn--secondary {
        position: relative;        
        margin-top: -70%;
        padding: 10px 30px;
        background-color: rgba( 228, 87, 47, 1);
        box-shadow: 0 4px 8px rgba( 228, 87, 47, 0.5 );
        -webkit-box-shadow: 0 4px 8px rgba( 228, 87, 47, 0.5 );
    }
        .featurette button:hover {
            background-color: #222;
        }
        .featurette img:hover {
            opacity: 0.8;
        }
</style>    
<!-- Main Featured Header -->
</main>

<section class="grid--full feature-header">
    <div class="splitCTA splitJoin grid__item large--one-half text-center text-white genSection">
        <div class="grid__item large--four-fifths push--large--one-tenth">
            <p class="h">Open your shop<br />today</p>
            <p>We handle your design, ecommerce, marketing, logistics and A+ service<br />from our team. P.S. It's free!</p>
            <a href="/pages/storefronts" onClick="_gaq.push(['_trackEvent', 'homepageHeader', 'Click', 'Storefront Form CTA',1.00,true]);" > 
                <button class="btn--secondary">Join Our Marketplace</button>
            </a>
            <img width=0 height=0 src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" onload="_gaq.push(['_trackEvent', 'homepageHeader', 'Impression', 'Storefront Form CTA',2.00,true]);"/>
        </div>        
    </div>
    <div class="splitCTA splitShop grid__item large--one-half text-center text-white genSection">
        <div class="grid__item large--four-fifths push--large--one-tenth">
            <p class="h" style="">Browse 1,000 +<br />partners</p>
            <p>Discover unique designs from talented musicians, inspiring causes, world-class athletes, and<br />the coolest artists around.</p>
            <a href="/pages/shops" onClick="_gaq.push(['_trackEvent', 'homepageHeader', 'Click', 'Partner Shops CTA',1.00,true]);" > 
                <button class="btn--secondary">Shop Our Partners</button>
            </a>
            <img width=0 height=0 src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" onload="_gaq.push(['_trackEvent', 'homepageHeader', 'Impression', 'Partner Shops CTA',2.00,true]);"/>
        </div>
    </div>
    
    <div class="valueprop grid__item one-whole text-center genSection">
        <p class="h">Your Brand + Our Designers</p>
        <p>Beautiful custom products for your fans</p>
        <a name="content"></a>
    </div>
</section>

<section class="grid--full one-whole grey-bg text-center genSection productNav">
    <div class="wrapper">
        <div class="grid__item one-sixth small--one-third">           
            <a href="/collections/watch" onClick="_gaq.push(['_trackEvent', 'Product NAV', 'Click', 'Metal Watch',1.00,true]);" > 
                <img style="display: block; margin: 0 auto;" src="{{ 'MetalWatchIcon.png' | asset_img_url: 'small' }}" alt="Metal Watch" />
                Metal Watch
            </a>
            <img width=0 height=0 src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" onload="_gaq.push(['_trackEvent', 'Product NAV', 'Impression', 'Metal Watch',2.00,true]);"/>
        </div>
        
        <div class="grid__item one-sixth small--one-third">
            <a href="/collections/sport-watch" onClick="_gaq.push(['_trackEvent', 'Product NAV', 'Click', 'Sport Watch',1.00,true]);" > 
                <img style="display: block; margin: 0 auto;" src="{{ 'SportWatchIcon.png' | asset_img_url: 'small' }}" alt="Sport Watch" />
                Sport Watch
            </a>
            <img width=0 height=0 src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" onload="_gaq.push(['_trackEvent', 'Product NAV', 'Impression', 'Sport Watch',2.00,true]);"/>
        </div>
        
        <div class="grid__item one-sixth small--one-third">
            <a href="/collections/mens-t-shirt" onClick="_gaq.push(['_trackEvent', 'Product NAV', 'Click', 'Men's T-Shirt,1.00,true]);" > 
                <img style="display: block; margin: 0 auto;" src="{{ 'MenTShirtIcon.png' | asset_img_url: 'small' }}" alt="Men's T-Shirts'" />
                Men's T-Shirt
            </a>
            <img width=0 height=0 src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" onload="_gaq.push(['_trackEvent', 'Product NAV', 'Impression', 'Men's T-Shirt,2.00,true]);"/>        
        </div>
        
        <div class="grid__item one-sixth small--one-third">
            <a href="/collections/womens-t-shirt" onClick="_gaq.push(['_trackEvent', 'Product NAV', 'Click', 'Women's T-Shirt,1.00,true]);" > 
                <img style="display: block; margin: 0 auto;" src="{{ 'WomenTShirtIcon.png' | asset_img_url: 'small' }}" alt="Women's T-Shirts'" />
                Women's T-Shirt
            </a>
            <img width=0 height=0 src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" onload="_gaq.push(['_trackEvent', 'Product NAV', 'Impression', 'Women's T-Shirt,2.00,true]);"/>
        </div>
        
        <div class="grid__item one-sixth small--one-third">
            <a href="/collections/mug" onClick="_gaq.push(['_trackEvent', 'Product NAV', 'Click', 'Mug',1.00,true]);" > 
                <img style="display: block; margin: 0 auto;" src="{{ 'MugIcon.png' | asset_img_url: 'small' }}" alt="Mugs (not pugs!)" />
                <strike>Pugs</strike> Mugs
            </a>
            <img width=0 height=0 src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" onload="_gaq.push(['_trackEvent', 'Product NAV', 'Impression', 'Mug',2.00,true]);"/>
        </div>
        
        <div class="grid__item one-sixth small--one-third">
            <a href="/collections/cell-phone-cases" onClick="_gaq.push(['_trackEvent', 'Product NAV', 'Click', 'iPhone 6 Case',1.00,true]);" > 
                <img style="display: block; margin: 0 auto;" src="{{ 'iPhoneIcon.png' | asset_img_url: 'small' }}" alt="iPhone Cases" />
                iPhone Cases
            </a>
            <img width=0 height=0 src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" onload="_gaq.push(['_trackEvent', 'Product NAV', 'Impression', 'iPhone 6 Case',2.00,true]);"/>
        </div>        
    </div>
</section>

<main class="wrapper" role="main">
    
<section class="grid text-center featurette genSection">
    <div class="grid__item large--one-half">       
        <a href="/collections/all?sort_by=best-selling" onClick="_gaq.push(['_trackEvent', 'homepageCases', 'Click', 'Phone Cases CTA',1.00,true]);" > 
            <img src="https://cdn.shopify.com/s/files/1/1159/6060/files/BestSellers2.jpg?8096162875862619056" alt="Shop Best Sellers" />
            <button class="btn--secondary">
                Shop Best Sellers
            </button>  
        </a>
        <img width=0 height=0 src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" onload="_gaq.push(['_trackEvent', 'homepageCases', 'Impression', 'Phone Cases CTA',2.00,true]);"/>
    </div>
    
    <div class="grid__item large--one-half">
        <a href="/collections/art" onClick="_gaq.push(['_trackEvent', 'homepageFeatured', 'Click', 'New Designs CTA',1.00,true]);" > 
            <img src="https://cdn.shopify.com/s/files/1/1159/6060/files/NewDesigns.jpg?7042854219408998031" alt="Shop New Designs" />
            <button class="btn--secondary">
                Shop New Designs
            </button> 
        </a>
        <img width=0 height=0 src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" onload="_gaq.push(['_trackEvent', 'homepageFeatured', 'Impression', 'New Designs CTA',2.00,true]);"/>
    </div>
</section>

{% include 'bounce-arrow' %}

<!-- Scripts -->
{{ 'smooth-scroll.js' | asset_url | script_tag }}