</main>
  <section class="section-container filterFrame filterClick">
  	<div class="one-whole" id="filterHolder">
  		<div class="one-half small--one-whole text-left mainFilter filterClick">
	  		<b class="filterClick">Team</b>
	  		
	  		<i class="fa fa-chevron-down filterClick"></i>
	  		<div class="filterBox filterClick">
		  		<label for="Anaheim-Ducks"><input id="Anaheim-Ducks" name="Anaheim-Ducks" value="Anaheim-Ducks" type="checkbox" />Anaheim Ducks</label>
		  		<label for="Arizona-Coyotes"><input id="Arizona-Coyotes" name="Arizona-Coyotes" value="Arizona-Coyotes" type="checkbox" />Arizona Coyotes</label>
		  		<label for="Boston-Bruins"><input id="Boston-Bruins" name="Boston-Bruins" value="Boston-Bruins" type="checkbox" />Boston Bruins</label>
		  		<label for="Buffalo-Sabres"><input id="Buffalo-Sabres" name="Buffalo-Sabres" value="Buffalo-Sabres" type="checkbox" />Buffalo Sabres</label>
		  		<label for="Calgary-Flames"><input id="Calgary-Flames" name="Calgary-Flames" value="Calgary-Flames" type="checkbox" />Calgary Flames</label>
		  		<label for="Carolina-Hurricanes"><input id="Carolina-Hurricanes" name="Carolina-Hurricanes" value="Carolina-Hurricanes" type="checkbox" />Carolina Hurricanes</label>
		  		<label for="Chicago-Blackhawks"><input id="Chicago-Blackhawks" name="Chicago-Blackhawks" value="Chicago-Blackhawks" type="checkbox" />Chicago Blackhawks</label>
		  		<label for="Colorado-Avalanche"><input id="Colorado-Avalanche" name="Colorado-Avalanche" value="Colorado-Avalanche" type="checkbox" />Colorado Avalanche</label>
		  		<label for="Columbus-Blue-Jackets"><input id="Columbus-Blue-Jackets" name="Columbus-Blue-Jackets" value="Columbus-Blue-Jackets" type="checkbox" />Columbus Blue Jackets</label>
		  		<label for="Dallas-Stars"><input id="Dallas-Stars" name="Dallas-Stars" value="Dallas-Stars" type="checkbox" />Dallas Stars</label>
		  		<label for="Detroit-Red-Wings"><input id="Detroit-Red-Wings" name="Detroit-Red-Wings" value="Detroit-Red-Wings" type="checkbox" />Detroit Red Wings</label>
		  		<label for="Edmonton-Oilers"><input id="Edmonton-Oilers" name="Edmonton-Oilers" value="Edmonton-Oilers" type="checkbox" />Edmonton Oilers</label>
		  		<label for="Florida-Panthers"><input id="Florida-Panthers" name="Florida-Panthers" value="Florida-Panthers" type="checkbox" />Florida Panthers</label>
		  		<label for="Los-Angeles-Kings"><input id="Los-Angeles-Kings" name="Los-Angeles-Kings" value="Los-Angeles-Kings" type="checkbox" />Los Angeles Kings</label>
		  		<label for="Minnesota-Wild"><input id="Minnesota-Wild" name="Minnesota-Wild" value="Minnesota-Wild" type="checkbox" />Minnesota Wild</label>
		  		<label for="Montreal-Canadiens"><input id="Montreal-Canadiens" name="Montreal-Canadiens" value="Montreal-Canadiens" type="checkbox" />Montreal Canadiens</label>
		  		<label for="Nashville-Predators"><input id="Nashville-Predators" name="Nashville-Predators" value="Nashville-Predators" type="checkbox" />Nashville Predators</label>
		  		<label for="New-Jersey-Devils"><input id="New-Jersey-Devils" name="New-Jersey-Devils" value="New-Jersey-Devils" type="checkbox" />New Jersey Devils</label>
		  		<label for="New-York-Islanders"><input id="New-York-Islanders" name="New-York-Islanders" value="New-York-Islanders" type="checkbox" />New York Islanders</label>
		  		<label for="New-York-Rangers"><input id="New-York-Rangers" name="New-York-Rangers" value="New-York-Rangers" type="checkbox" />New York Rangers</label>
		  		<label for="Philadelphia-Flyers"><input id="Philadelphia-Flyers" name="Philadelphia-Flyers" value="Philadelphia-Flyers" type="checkbox" />Philadelphia Flyers</label>
		  		<label for="Pittsburgh-Penguins"><input id="Pittsburgh-Penguins" name="Pittsburgh-Penguins" value="Pittsburgh-Penguins" type="checkbox" />Pittsburgh Penguins</label>
		  		<label for="Ottawa-Senators"><input id="Ottawa-Senators" name="Ottawa-Senators" value="Ottawa-Senators" type="checkbox" />Ottawa Senators</label>
		  		<label for="San-Jose-Sharks"><input id="San-Jose-Sharks" name="San-Jose-Sharks" value="San-Jose-Sharks" type="checkbox" />San Jose Sharks</label>
		  		<label for="St-Louis-Blues"><input id="St-Louis-Blues" name="St-Louis-Blues" value="St-Louis-Blues" type="checkbox" />St Louis Blues</label>
		  		<label for="Tampa-Bay-Lightning"><input id="Tampa-Bay-Lightning" name="Tampa-Bay-Lightning" value="Tampa-Bay-Lightning" type="checkbox" />Tampa Bay Lightning</label>
		  		<label for="Toronto-Maple-Leafs"><input id="Toronto-Maple-Leafs" name="Toronto-Maple-Leafs" value="Toronto-Maple-Leafs" type="checkbox" />Toronto Maple Leafs</label>
		  		<label for="Vancouver-Canucks"><input id="Vancouver-Canucks" name="Vancouver-Canucks" value="Vancouver-Canucks" type="checkbox" />Vancouver Canucks</label>
		  		<label for="Washington-Capitals"><input id="Washington-Capitals" name="Washington-Capitals" value="Washington-Capitals" type="checkbox" />Washington Capitals</label>
		  		<label for="Winnipeg-Jets"><input id="Winnipeg-Jets" name="Winnipeg-Jets" value="Winnipeg-Jets" type="checkbox" />Winnipeg Jets</label>
		  	</div>
	  	</div>

  		<div class="one-half small--one-whole text-left mainFilter filterClick" style="border:0px;">
	  		<b class="filterClick">League</b>
	  		<i class="fa fa-chevron-down filterClick"></i>
	  		<div class="filterBox" id="partners">
		  		<a href="/collections/nba"><input name="NBA" id="NBA" value="NBA" type="checkbox" />NBA</a>
				<a href="/collections/major-league-baseball"><input name="MLB" id="MLB" value="MLB" type="checkbox" />MLB</a> 
				<a href="/collections/nhl"><input name="NHL" id="NHL" value="NHL" type="checkbox" />NHL</a>

					  		</div>
  		</div>
   		<div style="clear: both"></div>
  	</div>
  </section>

<main class="wrapper main-content no-margin" role="main" id="theBody">

<div class="filterSection one-whole">
	<div id="which-Grid" class="hide small--show"><b>View:</b>
		<i class="fa fa-th-large selected" data-arrange="grid"><span class="smaller"> Grid</i>
		<i class="fa fa-square" data-arrange="single"><span class="smaller"> Single</span></i>
		<div style="clear:both"></div>
	</div>
	
	<div id="viewType" class="one-whole">
		Watch Style:
	 	<div class="viewBy selected" data-tag="">All</div> 
	 	<div class="viewBy" data-tag="SportWatch">Sport</div>
	 	<div class="viewBy"data-tag="MetalWatch" style="border:0px">Gunmetal</div>
	 	<div class="viewBy hide"data-tag="SSWatch" style="border:0px">Stainless Steel</div>
	 	
	</div>
	<div id="selectedTags" class="one-whole"><span id="sFilters" style="display:none">Selected Team:</span></div>
</main>

<script>
  /* Product Tag Filters - Good for any number of filters on any type of collection pages */
  var sortable ='';
  var collFilters = jQuery('.coll-filter');
  
    
	$('document').ready(function() {
		var allVals;
		var urlTags ='{{current_tags}}';
		var viewBy;
		var currentTag = '{{current_tags.first}}';
		var colTags = "{{collection.tags}}";
		colTags = colTags.replace('BlackHands', '');
		colTags = colTags.replace('WhiteHands', '');
		colTags = colTags.replace('RedHands', '');
		colTags = colTags.replace('BlueHands', '');
	//	console.log(colTags);
		var myParam = location.search.split('arrange=')[1];
		if(myParam) {
			 $('#which-Grid i').removeClass('selected');
			 $('#which-Grid i[data-arrange="'+myParam+'"]').addClass('selected');
			
			 if(myParam=='single') {
				 rearrange(myParam);
				
			 }
			 
			 
		 }
		 
		 $('#filterHolder input').each(function() {
		//	 $(this).parent('label').css('display', 'none');
			$(this).prop('checked', false);
			 if (colTags.toLowerCase().indexOf($(this).val().toLowerCase()) >= 0 ) {
			  		$(this).parent('label').css('display', 'block');
			  }
			  if (colTags.toLowerCase().indexOf($(this).attr('name').toLowerCase()) >= 0 ) {
			  		$(this).parent('label').css('display', 'block');
			  }
			 
			 if (urlTags.toLowerCase().indexOf($(this).val().toLowerCase()) >= 0 ) {
			  		$(this).prop('checked', true);
			  		$(this).parent('label').css('display', 'block');
			  		$('span#sFilters').show();
			  		$('#selectedTags').append('<div class="activeTag">'+$(this).val()+'<i class="fa fa-times-circle"></i></div>');
			  }else if (urlTags.toLowerCase().indexOf($(this).attr('name').toLowerCase()) >= 0 ) {
			  		$(this).prop('checked', true);
			  		$(this).parent('label').css('display', 'block');
			  		$('span#sFilters').show();
			  		$('#selectedTags').append('<div class="activeTag">'+$(this).value()+'<i class="fa fa-times-circle"></i></div>');
			  }
		 }) 
		 
		  $('.viewBy').each(function() {
			 
			  if (urlTags.toLowerCase().indexOf($(this).attr('data-tag').toLowerCase()) >= 0 ) {
			  		$('.viewBy').removeClass('selected');
			  		$(this).addClass('selected');
			  }

		  })
		 $('.activeTag').click(function() {
			 theTag = $(this).text();
			 
			 $('#filterHolder  :checkbox[value='+theTag+']').attr('checked', false);
			 loadTags();
		 })
		 
		 
		 //var myParam = location.search.split('arrange=')[1] ? location.search.split('arrange=')[1] : 'small--one-half';
		 $('#which-Grid i').click(function() {
			 analytics.track('Clicked '+$(this).attr('data-arrange')+' View');
			 rearrange($(this).attr('data-arrange'));
			 $('#which-Grid i').removeClass('selected');
			 $(this).addClass('selected');
		 })
		 
		 
		 function rearrange(val) {
			 sortable= val;
			 if(val=='single') {
				 $('.collection-matrix li').attr('class','grid__item large--one-quarter medium--one-third small--one-whole theProducts');
				
			 }else {
				 $('.collection-matrix li').attr('class','grid__item large--one-quarter medium--one-third small--one-half theProducts');
				 
			 }
		 } 
		 $('#seeFilters').click(function() {
			 $('#moreThemes').slideDown(200);
			 $(this).hide();
		 })	 
		 
		 $('#filterHolder label').click(function(){
			$('#filterHolder label').not($(this)).find('input').attr('checked', false); 
		 	
			 Lname = $(this).attr('for');
			  analytics.track('Clicked team Filter', {
		      Name: Lname
		    });
			console.log(Lname)
			 $(".filterBox").css('opacity', '0');
			 loadTags();
		})
		 $('.viewBy').click(function(){
			  Lname = $(this).attr('data-tag');
			  analytics.track('Clicked style sorting', {
		      Name: Lname
		    });

			 $('.viewBy').removeClass('selected');
			 $(this).addClass('selected');
			 loadTags();
		})
		function loadTags() {	 
			 if($('#viewType .selected').attr('data-tag') !=='') {
			 	viewBy =$('#viewType .selected').attr('data-tag')+'+'
			 }else {
				viewBy =''; 
			 }
			 allVals = '';
		     $('#filterHolder :checked').each(function() {
		       allVals+=$(this).val()+'+';
		       
		     });
		     allVals = allVals+viewBy;
		     allVals = allVals.substring(0,allVals.length - 1);
		     
		    // allVals = allVals.slice(0,-1)
		   //  console.log(allVals);
		     window.location.href = jQuery('{{ 'tag' | link_to_tag: 'tag' }}').attr('href').replace('tag', allVals);
		 }
		 
		 
		 
		 
		 $('.mainFilter').click(function() {
			  var which = $('.filterBox',this);
			$(".filterBox").not(which).fadeOut(300);
			$('.filterBox',this).fadeToggle(300);	
		})
		
		 $('body').click(function(event) {
			//console.log(event.target.id );
			if(!$(event.target).hasClass('filterClick')) {
			//	console.log('clicked');
				$(".filterBox").fadeOut(300);
			}
		 })
		 
 	})


Shopify.queryParams = {};
if (location.search.length) {
  for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
    aKeyValue = aCouples[i].split('=');
    if (aKeyValue.length > 1) {
      Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
    }
  }
}
jQuery('#sort-by')
  .val('{{ collection.sort_by | default: collection.default_sort_by | escape }}')
  .bind('change', function() {
    Shopify.queryParams.sort_by = jQuery(this).val();
    location.search = jQuery.param(Shopify.queryParams).replace(/\+/g, '%20');
  });
</script>





