{% comment %}
    Product specific Alt images
{% endcomment %}
<!-- Metal Watch Alt Images -->        
{% if product.type == "Alloy watch"%}
    <ul class="product-single__thumbnails grid-uniform" id="ProductThumbs">
        
        <li class="one-whole small--one-fifth small--left">
            <a href="{{ product_preview | img_url: 'grande' }}" class="product-single__thumbnail">
                <img src="{{ product_preview | img_url: 'compact' }}" alt="{{ image.alt | escape }}" class="bordered">
            </a>
        </li>
        <li class="one-whole small--one-fifth small--left">
            <a href="{{ 'MetalAltAngle_Side.jpg' | asset_url }}" class="product-single__thumbnail">
                <img src="{{ 'MetalAltAngle_SideThumb.jpg' | asset_url }}" alt="{{ image.alt | escape }}" class="bordered">
            </a>
        </li>
         <li class="one-whole small--one-fifth small--left">
            <a href="{{ 'MetalAltAngle_Angle.jpg' | asset_url }}" class="product-single__thumbnail">
                <img src="{{ 'MetalAltAngle_AngleThumb.jpg' | asset_url }}" alt="{{ image.alt | escape }}" class="bordered">
            </a>
        </li>
         <li class="one-whole small--one-fifth small--left">
            <a href="{{ 'metal_Lifestyle.jpg' | asset_url }}" class="product-single__thumbnail">
                <img src="{{ 'metal_LifestyleThumb.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
            </a>
        </li>

          <li class="one-whole small--one-fifth small--left">
            <a href="{{ product_art | img_url: 'grande' }}" class="product-single__thumbnail">
                <img src="{{ product_art | img_url: 'compact' }}" alt="{{ image.alt | escape }}" class="bordered">
            </a>
        </li>
    </ul>
{% endif %}
{% if product.type == "Stainless Steel Watch"%}
    <ul class="product-single__thumbnails grid-uniform" id="ProductThumbs">
        
        <li class="one-whole small--one-fifth small--left">
            <a href="{{ product_preview | img_url: 'grande' }}" class="product-single__thumbnail">
                <img src="{{ product_preview | img_url: 'compact' }}" alt="{{ image.alt | escape }}" class="bordered">
            </a>
        </li>
        <li class="one-whole small--one-fifth small--left">
            <a href="{{ 'StainlessSteelAltAngle_Side.jpg' | file_url }}" class="product-single__thumbnail">
                <img src="{{ 'StainlessSteelAltAngle_Side_thumb.jpg' | file_url }}" alt="{{ image.alt | escape }}" class="bordered">
            </a>
        </li>
         <li class="one-whole small--one-fifth small--left">
            <a href="{{ 'StainlessSteelAltAngle_Angle.jpg' | file_url }}" class="product-single__thumbnail">
                <img src="{{ 'StainlessSteelAltAngle_Angle_thumb.jpg' | file_url }}" alt="{{ image.alt | escape }}" class="bordered">
            </a>
        </li>
         <li class="one-whole small--one-fifth small--left">
            <a href="{{ 'metal_Lifestyle.jpg' | asset_url }}" class="product-single__thumbnail">
                <img src="{{ 'metal_LifestyleThumb.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
            </a>
        </li>

          <li class="one-whole small--one-fifth small--left">
            <a href="{{ product_art | img_url: 'grande' }}" class="product-single__thumbnail">
                <img src="{{ product_art | img_url: 'compact' }}" alt="{{ image.alt | escape }}" class="bordered">
            </a>
        </li>
    </ul>
{% endif %}

<!-- Sport Watch Alt Images -->        
{% if product.type == "Sport Watch" or product.type == "Watch" %}
    <ul class="product-single__thumbnails grid-uniform" id="ProductThumbs">
       <li class="one-whole small--one-fifth small--left">
            <a href="{{ product_preview | img_url: 'grande' }}" class="product-single__thumbnail">
                <img src="{{ product_preview | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
            </a>
        </li>
         <li class="one-whole small--one-fifth small--left">
            <a href="{{ 'SiliconeWatch_Side.jpg' | asset_url }}" class="product-single__thumbnail">
                <img src="{{ 'SiliconeWatch_SideThumb.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
            </a>
        </li>
         <li class="one-whole small--one-fifth small--left">
            <a href="{{ 'SiliconeWatch_Angle.jpg' | asset_url }}" class="product-single__thumbnail">
                <img src="{{ 'SiliconeWatch_AngleThumb.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
            </a>
        </li>
         <li class="one-whole small--one-fifth small--left">
            <a href="{{ 'silicone_Lifestyle.jpg' | asset_url }}" class="product-single__thumbnail">
                <img src="{{ 'silicone_LifestyleThumb.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
            </a>
        </li>
          <li class="one-whole small--one-fifth small--left">
            <a href="{{ art_image | img_url: 'grande' }}" class="product-single__thumbnail">
                <img src="{{ art_image | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
            </a>
        </li>
        
    </ul>
   {% endif %} 
     {% if product.type == "6/6s Case" or product.type == "5/5s Case" or product.type == "iPhone Case" %}
    <ul class="product-single__thumbnails grid-uniform" id="ProductThumbs">
       <li class="one-whole small--one-fifth small--left">
            <a href="{{ product_preview | img_url: 'grande' }}" class="product-single__thumbnail">
                <img src="{{ product_preview | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
            </a>
        </li>
         <li class="one-whole small--one-fifth small--left">
            <a href="{{ product_art | img_url: 'grande' }}" class="product-single__thumbnail">
                <img src="{{ product_art | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
            </a>
        </li>
         <li class="one-whole small--one-fifth small--left">
            <a href="{{ 'cellphone_Float.jpg' | asset_url }}" class="product-single__thumbnail">
                <img src="{{ 'cellphone_FloatThumb.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
            </a>
        </li>	
        <li class="one-whole small--one-fifth small--left">
            <a href="{{ 'cellPhoneCase.jpg' | asset_url }}" class="product-single__thumbnail">
                <img src="{{ 'cellPhoneCaseThumb.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
            </a>
        </li>
         
        
    </ul>
{% endif %}

 {% if product.type == "Men's T-Shirt" or product.type == "Women's T-Shirt" %}
    <ul class="product-single__thumbnails grid-uniform" id="ProductThumbs">
       <li class="one-whole small--one-fifth small--left">
            <a href="{{ product_preview | img_url: 'grande' }}" class="product-single__thumbnail">
                <img src="{{ product_preview | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
            </a>
        </li>
         <li class="one-whole small--one-fifth small--left">
            <a href="{{ 'tshirt_Detail.jpg' | asset_url }}" class="product-single__thumbnail">
                <img src="{{ 'tshirt_DetailThumb.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
            </a>
        </li>
         <li class="one-whole small--one-fifth small--left">
            <a href="{{ 'tshirt_Alt.jpg' | asset_url }}" class="product-single__thumbnail">
                <img src="{{ 'tshirt_AltThumb.jpg' | asset_url }}" alt="{{ image.alt | escape }}">
            </a>
        </li>
        </li>
          <li class="one-whole small--one-fifth small--left">
            <a href="{{ product_art | img_url: 'grande' }}" class="product-single__thumbnail">
                <img src="{{ product_art | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
            </a>
        </li>
        
    </ul>
{% endif %}

