</main>
  <section class="section-container filterFrame filterClick">
  	<div class="one-whole" id="filterHolder">
  		<div class="three-quarters small--one-whole text-left mainFilter filterClick push--one-eighth">
	  		<b class="filterClick">Choose your City</b>
	  		
	  		<i class="fa fa-chevron-down filterClick"></i>
	  		<div class="filterBox filterClick">
		  		<div class="left one-half">
			  		<label for="Alabama"><input id="Alabama" name="Alabama" value="Alabama" type="checkbox" />Alabama</label>
			  		<label for="Alaska"><input id="Alaska" name="Alaska" value="Alaska" type="checkbox" />Alaska</label>
			  		<label for="Arizona"><input id="Arizona" name="Arizona" value="Arizona" type="checkbox" />Arizona</label>
			  		<label for="Arkansas"><input id="Arkansas" name="Arkansas" value="Arkansas" type="checkbox" />Arkansas</label>
			  		<label for="California"><input id="California" name="California" value="California" type="checkbox" />California</label>
			  		<label for="Colorado"><input id="Colorado" name="Colorado" value="Colorado" type="checkbox" />Colorado</label>
			  		<label for="Connecticut"><input id="Connecticut" name="Connecticut" value="Connecticut" type="checkbox" />Connecticut</label>
			  		<label for="Delaware"><input id="Delaware" name="Delaware" value="Delaware" type="checkbox" />Delaware</label>
			  		<label for="District-Of-Columbia"><input id="District-Of-Columbia" name="District-Of-Columbia" value="District-Of-Columbia" type="checkbox" />District Of Columbia</label>
			  		<label for="Florida"><input id="Florida" name="Florida" value="Florida" type="checkbox" />Florida</label>
			  		<label for="Georgia"><input id="Georgia" name="Georgia" value="Georgia" type="checkbox" />Georgia</label>
			  		<label for="Hawaii"><input id="Hawaii" name="Hawaii" value="Hawaii" type="checkbox" />Hawaii</label>
			  		<label for="Idaho"><input id="Idaho" name="Idaho" value="Idaho" type="checkbox" />Idaho</label>
			  		<label for="Illinois"><input id="Illinois" name="Illinois" value="Illinois" type="checkbox" />Illinois</label>
			  		<label for="Indiana"><input id="Indiana" name="Indiana" value="Indiana" type="checkbox" />Indiana</label>
			  		<label for="Iowa"><input id="Iowa" name="Iowa" value="Iowa" type="checkbox" />Iowa</label>
			  		<label for="Kansas"><input id="Kansas" name="Kansas" value="Kansas" type="checkbox" />Kansas</label>
			  		<label for="Kentucky"><input id="Kentucky" name="Kentucky" value="Kentucky" type="checkbox" />Kentucky</label>
			  		<label for="Louisiana"><input id="Louisiana" name="Louisiana" value="Louisiana" type="checkbox" />Louisiana</label>
			  		<label for="Maine"><input id="Maine" name="Maine" value="Maine" type="checkbox" />Maine</label>
			  		<label for="Maryland"><input id="Maryland" name="Maryland" value="Maryland" type="checkbox" />Maryland</label>
			  		<label for="Massachusetts"><input id="Massachusetts" name="Massachusetts" value="Massachusetts" type="checkbox" />Massachusetts</label>
			  		<label for="Michigan"><input id="Michigan" name="Michigan" value="Michigan" type="checkbox" />Michigan</label>
			  		<label for="Minnesota"><input id="Minnesota" name="Minnesota" value="Minnesota" type="checkbox" />Minnesota</label>
			  		<label for="Mississippi"><input id="Mississippi" name="Mississippi" value="Mississippi" type="checkbox" />Mississippi</label>
			  		<label for="Missouri"><input id="Missouri" name="Missouri" value="Missouri" type="checkbox" />Missouri</label>
			  	</div>
		  		<div class="left one-half">
			  		<label for="Montana"><input id="Montana" name="Montana" value="Montana" type="checkbox" />Montana</label>
			  		<label for="Nebraska"><input id="Nebraska" name="Nebraska" value="Nebraska" type="checkbox" />Nebraska</label>
			  		<label for="Nevada"><input id="Nevada" name="Nevada" value="Nevada" type="checkbox" />Nevada</label>
			  		<label for="New-Hampshire"><input id="New-Hampshire" name="New-Hampshire" value="New-Hampshire" type="checkbox" />New Hampshire</label>
			  		<label for="New-Jersey"><input id="New-Jersey" name="New-Jersey" value="New-Jersey" type="checkbox" />New Jersey</label>
			  		<label for="New-Mexico"><input id="New-Mexico" name="New-Mexico" value="New-Mexico" type="checkbox" />New Mexico</label>
			  		<label for="New-York"><input id="New-York" name="New-York" value="New-York" type="checkbox" />New York</label>
			  		<label for="North-Carolina"><input id="North-Carolina" name="North-Carolina" value="North-Carolina" type="checkbox" />North Carolina</label>
			  		<label for="North-Dakota"><input id="North-Dakota" name="North-Dakota" value="North-Dakota" type="checkbox" />North Dakota</label>
			  		<label for="Ohio"><input id="Ohio" name="Ohio" value="Ohio" type="checkbox" />Ohio</label>
			  		<label for="Oklahoma"><input id="Oklahoma" name="Oklahoma" value="Oklahoma" type="checkbox" />Oklahoma</label>
			  		<label for="Oregon"><input id="Oregon" name="Oregon" value="Oregon" type="checkbox" />Oregon</label>
			  		<label for="Pennsylvania"><input id="Pennsylvania" name="Pennsylvania" value="Pennsylvania" type="checkbox" />Pennsylvania</label>
			  		<label for="Rhode-Island"><input id="Rhode-Island" name="Rhode-Island" value="Rhode-Island" type="checkbox" />Rhode Island</label>
			  		<label for="South-Carolina"><input id="South-Carolina" name="South-Carolina" value="South-Carolina" type="checkbox" />South Carolina</label>
			  		<label for="South-Dakota"><input id="South-Dakota" name="South-Dakota" value="South-Dakota" type="checkbox" />South Dakota</label>
			  		<label for="Tennessee"><input id="Tennessee" name="Tennessee" value="Tennessee" type="checkbox" />Tennessee</label>
			  		<label for="Texas"><input id="Texas" name="Texas" value="Texas" type="checkbox" />Texas</label>
			  		<label for="Utah"><input id="Utah" name="Utah" value="Utah" type="checkbox" />Utah</label>
			  		<label for="Vermont"><input id="Vermont" name="Vermont" value="Vermont" type="checkbox" />Vermont</label>
			  		<label for="Virginia"><input id="Virginia" name="Virginia" value="Virginia" type="checkbox" />Virginia</label>
			  		<label for="Washington"><input id="Washington" name="Washington" value="Washington" type="checkbox" />Washington</label>
			  		<label for="West-Virginia"><input id="West-Virginia" name="West-Virginia" value="West-Virginia" type="checkbox" />West Virginia</label>
			  		<label for="Wisconsin"><input id="Wisconsin" name="Wisconsin" value="Wisconsin" type="checkbox" />Wisconsin</label>
			  		<label for="Wyoming"><input id="Wyoming" name="Wyoming" value="Wyoming" type="checkbox" />Wyoming</label>
		  		</div>
		  		<div style="clear: both"></div>		  		
		  	</div>
	  	</div>
	
  		   		<div style="clear: both"></div>
  	</div>
  </section>

<main class="wrapper main-content no-margin" role="main" id="theBody">

<div class="filterSection one-whole">
	<div id="which-Grid" class="hide small--show"><b>View:</b>
		<i class="fa fa-th-large selected" data-arrange="grid"><span class="smaller"> Grid</i>
		<i class="fa fa-square" data-arrange="single"><span class="smaller"> Single</span></i>
		<div style="clear:both"></div>
	</div>
	
	<div id="viewType" class="one-whole">
		Watch Style:
	 	<div class="viewBy selected" data-tag="">All</div> 
	 	<div class="viewBy" data-tag="SportWatch">Sport</div>
	 	<div class="viewBy"data-tag="MetalWatch" style="border:0px">Gunmetal</div>
	 	<div class="viewBy hide"data-tag="SSWatch" style="border:0px">Stainless Steel</div>
	 	
	</div>
	<div id="selectedTags" class="one-whole"><span id="sFilters" style="display:none">Selected State:</span></div>
</main>

<script>
  /* Product Tag Filters - Good for any number of filters on any type of collection pages */
  var sortable ='';
  var collFilters = jQuery('.coll-filter');
  
    
	$('document').ready(function() {
		var allVals;
		var urlTags ='{{current_tags}}';
		var viewBy;
		var currentTag = '{{current_tags.first}}';
		var colTags = "{{collection.tags}}";
		colTags = colTags.replace('BlackHands', '');
		colTags = colTags.replace('WhiteHands', '');
		colTags = colTags.replace('RedHands', '');
		colTags = colTags.replace('BlueHands', '');
	//	console.log(colTags);
		var myParam = location.search.split('arrange=')[1];
		if(myParam) {
			 $('#which-Grid i').removeClass('selected');
			 $('#which-Grid i[data-arrange="'+myParam+'"]').addClass('selected');
			
			 if(myParam=='single') {
				 rearrange(myParam);
				
			 }
			 
			 
		 }
		 
		 $('#filterHolder input').each(function() {
		//	 $(this).parent('label').css('display', 'none');
			$(this).prop('checked', false);
			 if (colTags.toLowerCase().indexOf($(this).val().toLowerCase()) >= 0 ) {
			  		$(this).parent('label').css('display', 'block');
			  }
			  if (colTags.toLowerCase().indexOf($(this).attr('name').toLowerCase()) >= 0 ) {
			  		$(this).parent('label').css('display', 'block');
			  }
			 
			 if (urlTags.toLowerCase().indexOf($(this).val().toLowerCase()) >= 0 ) {
			  		$(this).prop('checked', true);
			  		$(this).parent('label').css('display', 'block');
			  		$('span#sFilters').show();
			  		$('#selectedTags').append('<div class="activeTag">'+$(this).val()+'<i class="fa fa-times-circle"></i></div>');
			  }else if (urlTags.toLowerCase().indexOf($(this).attr('name').toLowerCase()) >= 0 ) {
			  		$(this).prop('checked', true);
			  		$(this).parent('label').css('display', 'block');
			  		$('span#sFilters').show();
			  		$('#selectedTags').append('<div class="activeTag">'+$(this).val()+'<i class="fa fa-times-circle"></i></div>');
			  }
		 }) 
		 
		  $('.viewBy').each(function() {
			 
			  if (urlTags.toLowerCase().indexOf($(this).attr('data-tag').toLowerCase()) >= 0 ) {
			  		$('.viewBy').removeClass('selected');
			  		$(this).addClass('selected');
			  }

		  })
		 $('.activeTag').click(function() {
			 theTag = $(this).text();
			 
			 $('#filterHolder  :checkbox[value='+theTag+']').attr('checked', false);
			 loadTags();
		 })
		 
		 
		 //var myParam = location.search.split('arrange=')[1] ? location.search.split('arrange=')[1] : 'small--one-half';
		 $('#which-Grid i').click(function() {
			 analytics.track('Clicked '+$(this).attr('data-arrange')+' View');
			 rearrange($(this).attr('data-arrange'));
			 $('#which-Grid i').removeClass('selected');
			 $(this).addClass('selected');
		 })
		 
		 
		 function rearrange(val) {
			 sortable= val;
			 if(val=='single') {
				 $('.collection-matrix li').attr('class','grid__item large--one-quarter medium--one-third small--one-whole theProducts');
				
			 }else {
				 $('.collection-matrix li').attr('class','grid__item large--one-quarter medium--one-third small--one-half theProducts');
				 
			 }
		 } 
		 $('#seeFilters').click(function() {
			 $('#moreThemes').slideDown(200);
			 $(this).hide();
		 })	 
		 
		 $('#filterHolder label').click(function(){
			$('#filterHolder label').not($(this)).find('input').attr('checked', false); 
		 	
			 Lname = $(this).attr('for');
			  analytics.track('Clicked team Filter', {
		      Name: Lname
		    });
			console.log(Lname)
			 $(".filterBox").css('opacity', '0');
			 loadTags();
		})
		 $('.viewBy').click(function(){
			  Lname = $(this).attr('data-tag');
			  analytics.track('Clicked style sorting', {
		      Name: Lname
		    });

			 $('.viewBy').removeClass('selected');
			 $(this).addClass('selected');
			 loadTags();
		})
		function loadTags() {	 
			 if($('#viewType .selected').attr('data-tag') !=='') {
			 	viewBy =$('#viewType .selected').attr('data-tag')+'+'
			 }else {
				viewBy =''; 
			 }
			 allVals = '';
		     $('#filterHolder :checked').each(function() {
		       allVals+=$(this).val()+'+';
		       
		     });
		     allVals = allVals+viewBy;
		     allVals = allVals.substring(0,allVals.length - 1);
		     
		    // allVals = allVals.slice(0,-1)
		   //  console.log(allVals);
		     window.location.href = jQuery('{{ 'tag' | link_to_tag: 'tag' }}').attr('href').replace('tag', allVals);
		 }
		 
		 
		 
		 
		 $('.mainFilter').click(function() {
			  var which = $('.filterBox',this);
			$(".filterBox").not(which).fadeOut(300);
			$('.filterBox',this).fadeToggle(300);	
		})
		
		 $('body').click(function(event) {
			//console.log(event.target.id );
			if(!$(event.target).hasClass('filterClick')) {
			//	console.log('clicked');
				$(".filterBox").fadeOut(300);
			}
		 })
		 
 	})


Shopify.queryParams = {};
if (location.search.length) {
  for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
    aKeyValue = aCouples[i].split('=');
    if (aKeyValue.length > 1) {
      Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
    }
  }
}
jQuery('#sort-by')
  .val('{{ collection.sort_by | default: collection.default_sort_by | escape }}')
  .bind('change', function() {
    Shopify.queryParams.sort_by = jQuery(this).val();
    location.search = jQuery.param(Shopify.queryParams).replace(/\+/g, '%20');
  });
</script>





