
</main>
  <section class="section-container filterFrame filterClick" style="background-color: #000000; color: #14bfdb">
  	<div class="one-whole" id="filterHolder">
  		<div class="three-quarters small--one-whole text-left mainFilter filterClick push--large--one-eighth" style="background-color: #000000; color: #14bfdb; font-size: 17px">
	  		<b class="filterClick">Choose your City</b>
	  		
	  		<i class="fa fa-chevron-down filterClick" style="color:#14bfdb;"></i>
	  		<div class="filterBox filterClick cities" style="color: #5f5f5f">
		  		<div class="one-whole">
			  		<label for="Adelaide" class="large--one-third medium--one-half small--one-half"><input id="Adelaide" name="Adelaide" value="Adelaide" type="checkbox" />Adelaide</label>
					<label for="Akron" class="large--one-third medium--one-half small--one-half "><input id="Akron" name="Akron" value="Akron" type="checkbox" />Akron</label>
					<label for="Amsterdam" class="large--one-third medium--one-half small--one-half "><input id="Amsterdam" name="Amsterdam" value="Amsterdam" type="checkbox" />Amsterdam</label>
					<label for="Atlanta" class="large--one-third medium--one-half small--one-half "><input id="Atlanta" name="Atlanta" value="Atlanta" type="checkbox" />Atlanta</label>
					<label for="Auckland" class="large--one-third medium--one-half small--one-half "><input id="Auckland" name="Auckland" value="Auckland" type="checkbox" />Auckland</label>
					<label for="Austin" class="large--one-third medium--one-half small--one-half "><input id="Austin" name="Austin" value="Austin" type="checkbox" />Austin</label>
					<label for="Baltimore" class="large--one-third medium--one-half small--one-half "><input id="Baltimore" name="Baltimore" value="Baltimore" type="checkbox" />Baltimore</label>
					<label for="Baton-Rouge" class="large--one-third medium--one-half small--one-half "><input id="Baton-Rouge" name="Baton-Rouge" value="Baton-Rouge" type="checkbox" />Baton Rouge</label>
					<label for="Beijing" class="large--one-third medium--one-half small--one-half "><input id="Beijing" name="Beijing" value="Beijing" type="checkbox" />Beijing</label>
					<label for="Berlin" class="large--one-third medium--one-half small--one-half "><input id="Berlin" name="Berlin" value="Berlin" type="checkbox" />Berlin</label>
					<label for="Bogota" class="large--one-third medium--one-half small--one-half "><input id="Bogota" name="Bogota" value="Bogota" type="checkbox" />Bogota</label>
					<label for="Boise" class="large--one-third medium--one-half small--one-half "><input id="Boise" name="Boise" value="Boise" type="checkbox" />Boise</label>
					<label for="Boston" class="large--one-third medium--one-half small--one-half "><input id="Boston" name="Boston" value="Boston" type="checkbox" />Boston</label>
					<label for="Bowling-Green" class="large--one-third medium--one-half small--one-half "><input id="Bowling-Green" name="Bowling-Green" value="Bowling-Green" type="checkbox" />Bowling Green</label>
					<label for="Brisbane" class="large--one-third medium--one-half small--one-half "><input id="Brisbane" name="Brisbane" value="Brisbane" type="checkbox" />Brisbane</label>
					<label for="Budapest" class="large--one-third medium--one-half small--one-half "><input id="Budapest" name="Budapest" value="Budapest" type="checkbox" />Budapest</label>
					<label for="Canberra" class="large--one-third medium--one-half small--one-half "><input id="Canberra" name="Canberra" value="Canberra" type="checkbox" />Canberra</label>
					<label for="Charlotte" class="large--one-third medium--one-half small--one-half "><input id="Charlotte" name="Charlotte" value="Charlotte" type="checkbox" />Charlotte</label>
					<label for="Chennai" class="large--one-third medium--one-half small--one-half "><input id="Chennai" name="Chennai" value="Chennai" type="checkbox" />Chennai</label>
					<label for="Chicago" class="large--one-third medium--one-half small--one-half "><input id="Chicago" name="Chicago" value="Chicago" type="checkbox" />Chicago</label>
					<label for="Cincinnati" class="large--one-third medium--one-half small--one-half "><input id="Cincinnati" name="Cincinnati" value="Cincinnati" type="checkbox" />Cincinnati</label>
					<label for="Cleveland" class="large--one-third medium--one-half small--one-half "><input id="Cleveland" name="Cleveland" value="Cleveland" type="checkbox" />Cleveland</label>
					<label for="Columbus" class="large--one-third medium--one-half small--one-half "><input id="Columbus" name="Columbus" value="Columbus" type="checkbox" />Columbus</label>
					<label for="Copenhagen" class="large--one-third medium--one-half small--one-half "><input id="Copenhagen" name="Copenhagen" value="Copenhagen" type="checkbox" />Copenhagen</label>
					<label for="Dallas" class="large--one-third medium--one-half small--one-half "><input id="Dallas" name="Dallas" value="Dallas" type="checkbox" />Dallas</label>
					<label for="Dayton" class="large--one-third medium--one-half small--one-half "><input id="Dayton" name="Dayton" value="Dayton" type="checkbox" />Dayton</label>
					<label for="Denver" class="large--one-third medium--one-half small--one-half "><input id="Denver" name="Denver" value="Denver" type="checkbox" />Denver</label>
					<label for="Detroit" class="large--one-third medium--one-half small--one-half "><input id="Detroit" name="Detroit" value="Detroit" type="checkbox" />Detroit</label>
					<label for="Durban" class="large--one-third medium--one-half small--one-half "><input id="Durban" name="Durban" value="Durban" type="checkbox" />Durban</label>
					<label for="Fort-Worth" class="large--one-third medium--one-half small--one-half "><input id="Fort-Worth" name="Fort-Worth" value="Fort-Worth" type="checkbox" />Fort-Worth</label>
					<label for="Geneva" class="large--one-third medium--one-half small--one-half "><input id="Geneva" name="Geneva" value="Geneva" type="checkbox" />Geneva</label>
					<label for="Guadalajara" class="large--one-third medium--one-half small--one-half "><input id="Guadalajara" name="Guadalajara" value="Guadalajara" type="checkbox" />Guadalajara</label>
					<label for="Hanoi" class="large--one-third medium--one-half small--one-half "><input id="Hanoi" name="Hanoi" value="Hanoi" type="checkbox" />Hanoi</label>
					<label for="Hong-kong" class="large--one-third medium--one-half small--one-half "><input id="Hong-kong" name="Hong-kong" value="Hong-kong" type="checkbox" />Hong Kong</label>
					<label for="Honolulu" class="large--one-third medium--one-half small--one-half "><input id="Honolulu" name="Honolulu" value="Honolulu" type="checkbox" />Honolulu</label>
					<label for="Houston" class="large--one-third medium--one-half small--one-half "><input id="Houston" name="Houston" value="Houston" type="checkbox" />Houston</label>
					<label for="Indianapolis" class="large--one-third medium--one-half small--one-half "><input id="Indianapolis" name="Indianapolis" value="Indianapolis" type="checkbox" />Indianapolis</label>
					<label for="Johannesburg" class="large--one-third medium--one-half small--one-half "><input id="Johannesburg" name="Johannesburg" value="Johannesburg" type="checkbox" />Johannesburg</label>
					<label for="Lausanne" class="large--one-third medium--one-half small--one-half "><input id="Lausanne" name="Lausanne" value="Lausanne" type="checkbox" />Lausanne</label>
					<label for="Lexington" class="large--one-third medium--one-half small--one-half "><input id="Lexington" name="Lexington" value="Lexington" type="checkbox" />Lexington</label>
					<label for="London" class="large--one-third medium--one-half small--one-half "><input id="London" name="London" value="London" type="checkbox" />London</label>
					<label for="Los-Angeles" class="large--one-third medium--one-half small--one-half "><input id="Los-Angeles" name="Los-Angeles" value="Los-Angeles" type="checkbox" />Los Angeles</label>
					<label for="Louisville" class="large--one-third medium--one-half small--one-half "><input id="Louisville" name="Louisville" value="Louisville" type="checkbox" />Louisville</label>
					<label for="Madison" class="large--one-third medium--one-half small--one-half "><input id="Madison" name="Madison" value="Madison" type="checkbox" />Madison</label>
					<label for="Manilla" class="large--one-third medium--one-half small--one-half "><input id="Manilla" name="Manilla" value="Manilla" type="checkbox" />Manilla</label>
					<label for="Melbourne" class="large--one-third medium--one-half small--one-half "><input id="Melbourne" name="Melbourne" value="Melbourne" type="checkbox" />Melbourne</label>
					<label for="Mexico-City" class="large--one-third medium--one-half small--one-half "><input id="Mexico-City" name="Mexico-City" value="Mexico-City" type="checkbox" />Mexico City</label>
					<label for="Miami" class="large--one-third medium--one-half small--one-half "><input id="Miami" name="Miami" value="Miami" type="checkbox" />Miami</label>
					<label for="Milwaukee" class="large--one-third medium--one-half small--one-half "><input id="Milwaukee" name="Milwaukee" value="Milwaukee" type="checkbox" />Milwaukee</label>
					<label for="Minneapolis" class="large--one-third medium--one-half small--one-half "><input id="Minneapolis" name="Minneapolis" value="Minneapolis" type="checkbox" />Minneapolis</label>
					<label for="Montreal" class="large--one-third medium--one-half small--one-half "><input id="Montreal" name="Montreal" value="Montreal" type="checkbox" />Montreal</label>
					<label for="Moscow" class="large--one-third medium--one-half small--one-half "><input id="Moscow" name="Moscow" value="Moscow" type="checkbox" />Moscow</label>
					<label for="Nashville" class="large--one-third medium--one-half small--one-half "><input id="Nashville" name="Nashville" value="Nashville" type="checkbox" />Nashville</label>
					<label for="New-Orleans" class="large--one-third medium--one-half small--one-half "><input id="New-Orleans" name="New-Orleans" value="New-Orleans" type="checkbox" />New Orleans</label>
					<label for="New-York-City" class="large--one-third medium--one-half small--one-half "><input id="New-York-City" name="New-York-City" value="New-York-City" type="checkbox" />New York City</label>
					<label for="Oklahoma-City" class="large--one-third medium--one-half small--one-half "><input id="Oklahoma-City" name="Oklahoma-City" value="Oklahoma-City" type="checkbox" />Oklahoma City</label>
					<label for="Paris" class="large--one-third medium--one-half small--one-half "><input id="Paris" name="Paris" value="Paris" type="checkbox" />Paris</label>
					<label for="Perth" class="large--one-third medium--one-half small--one-half "><input id="Perth" name="Perth" value="Perth" type="checkbox" />Perth</label>
					<label for="Philadelphia" class="large--one-third medium--one-half small--one-half "><input id="Philadelphia" name="Philadelphia" value="Philadelphia" type="checkbox" />Philadelphia</label>
					<label for="Phoenix" class="large--one-third medium--one-half small--one-half "><input id="Phoenix" name="Phoenix" value="Phoenix" type="checkbox" />Phoenix</label>
					<label for="Pittsburgh" class="large--one-third medium--one-half small--one-half "><input id="Pittsburgh" name="Pittsburgh" value="Pittsburgh" type="checkbox" />Pittsburgh</label>
					<label for="Portland" class="large--one-third medium--one-half small--one-half "><input id="Portland" name="Portland" value="Portland" type="checkbox" />Portland</label>
					<label for="San-Diego" class="large--one-third medium--one-half small--one-half "><input id="San-Diego" name="San-Diego" value="San-Diego" type="checkbox" />San Diego</label>
					<label for="San-Francisco" class="large--one-third medium--one-half small--one-half "><input id="San-Francisco" name="San-Francisco" value="San-Francisco" type="checkbox" />San Francisco</label>
					<label for="Seattle" class="large--one-third medium--one-half small--one-half "><input id="Seattle" name="Seattle" value="Seattle" type="checkbox" />Seattle</label>
					<label for="Shanghai" class="large--one-third medium--one-half small--one-half "><input id="Shanghai" name="Shanghai" value="Shanghai" type="checkbox" />Shanghai</label>
					<label for="Shenzhen" class="large--one-third medium--one-half small--one-half "><input id="Shenzhen" name="Shenzhen" value="Shenzhen" type="checkbox" />Shenzhen</label>
					<label for="Singapore" class="large--one-third medium--one-half small--one-half "><input id="Singapore" name="Singapore" value="Singapore" type="checkbox" />Singapore</label>
					<label for="Spokane" class="large--one-third medium--one-half small--one-half "><input id="Spokane" name="Spokane" value="Spokane" type="checkbox" />Spokane</label>
					<label for="St-Louis" class="large--one-third medium--one-half small--one-half "><input id="St-Louis" name="St-Louis" value="St-Louis" type="checkbox" />St Louis</label>
					<label for="Sydney"  class="large--one-third medium--one-half small--one-half "><input id="Sydney" name="Sydney" value="Sydney" type="checkbox" />Sydney</label>
					<label for="Tacoma"  class="large--one-third medium--one-half small--one-half "><input id="Tacoma" name="Tacoma" value="Tacoma" type="checkbox" />Tacoma</label>
					<label for="Taipei" class="large--one-third medium--one-half small--one-half "><input id="Taipei" name="Taipei" value="Taipei" type="checkbox" />Taipei</label>
					<label for="Toledo" class="large--one-third medium--one-half small--one-half "><input id="Toledo" name="Toledo" value="Toledo" type="checkbox" />Toledo</label>
					<label for="Toronto" class="large--one-third medium--one-half small--one-half "><input id="Toronto" name="Toronto" value="Toronto" type="checkbox" />Toronto</label>
					<label for="Tulsa" class="large--one-third medium--one-half small--one-half "><input id="Tulsa" name="Tulsa" value="Tulsa" type="checkbox" />Tulsa</label>
					<label for="Vancouver" class="large--one-third medium--one-half small--one-half "><input id="Vancouver" name="Vancouver" value="Vancouver" type="checkbox" />Vancouver</label>
					<label for="Washington-DC" class="large--one-third medium--one-half small--one-half"><input id="Washington-DC" name="Washington-DC" value="Washington-DC" type="checkbox" />Washington DC</label>
					<label for="Wellington" class="large--one-third medium--one-half small--one-half "><input id="Wellington" name="Wellington" value="Wellington" type="checkbox" />Wellington</label>
					<label for="Zurich" class="large--one-third medium--one-half small--one-half "><input id="Zurich" name="Zurich" value="Zurich" type="checkbox" />Zurich</label>
					<div style="clear: both"></div>
			  				  		</div>
		  		<div style="clear: both"></div>		  		
		  	</div>
	  	</div>
	
  		   		<div style="clear: both"></div>
  	</div>
  </section>

<main class="wrapper main-content no-margin" role="main" id="theBody">

<div class="filterSection one-whole">
	<div id="which-Grid" class="hide small--show"><b>View:</b>
		<i class="fa fa-th-large selected" data-arrange="grid"><span class="smaller"> Grid</i>
		<i class="fa fa-square" data-arrange="single"><span class="smaller"> Single</span></i>
		<div style="clear:both"></div>
	</div>
	
	<div id="viewType" class="one-whole">
		Watch Style:
	 	<div class="viewBy selected" data-tag="">All</div> 
	 	<div class="viewBy" data-tag="SportWatch">Sport</div>
	 	<div class="viewBy"data-tag="MetalWatch" style="border:0px">Gunmetal</div>
	 	<div class="viewBy hide"data-tag="SSWatch" style="border:0px">Stainless Steel</div>
	 	
	</div>
	<div id="selectedTags" class="one-whole"><span id="sFilters" style="display:none">Selected City:</span></div>
</main>

<script>
  /* Product Tag Filters - Good for any number of filters on any type of collection pages */
  var sortable ='';
  var collFilters = jQuery('.coll-filter');
  
    
	$('document').ready(function() {
		var allVals;
		var urlTags ='{{current_tags}}';
		var viewBy;
		var currentTag = '{{current_tags.first}}';
		var colTags = "{{collection.tags}}";
		colTags = colTags.replace('BlackHands', '');
		colTags = colTags.replace('WhiteHands', '');
		colTags = colTags.replace('RedHands', '');
		colTags = colTags.replace('BlueHands', '');
		colTags = colTags.replace('Uber', '');
	//	console.log(colTags);
		var myParam = location.search.split('arrange=')[1];
		if(myParam) {
			
			 $('#which-Grid i').removeClass('selected');
			 $('#which-Grid i[data-arrange="'+myParam+'"]').addClass('selected');
			
			 if(myParam=='single') {
				 rearrange(myParam);
				
			 }
			 
			 
		 }
		 
		 $('#genericOnes').hide();
		 $('#filterHolder input').each(function() {
		//	 $(this).parent('label').css('display', 'none');
			$(this).prop('checked', false);
			
			 if (colTags.toLowerCase().indexOf($(this).val().toLowerCase()) >= 0 ) {
			  		$(this).parent('label').css('display', 'block');
			  }
			  if (colTags.toLowerCase().indexOf($(this).attr('name').toLowerCase()) >= 0 ) {
			  		$(this).parent('label').css('display', 'block');
			  }
			 
			 if (urlTags.toLowerCase().indexOf($(this).val().toLowerCase()) >= 0 ) {
			  		$(this).prop('checked', true);
			  		$('#genericOnes').show();
			  		$(this).parent('label').css('display', 'block');
			  		$('span#sFilters').show();
			  		$('#selectedTags').append('<div class="activeTag">'+$(this).val()+'<i class="fa fa-times-circle"></i></div>');
			  }else if (urlTags.toLowerCase().indexOf($(this).attr('name').toLowerCase()) >= 0 ) {
			  		$(this).prop('checked', true);
			  		$('#genericOnes').show();
			  		$(this).parent('label').css('display', 'block');
			  		$('span#sFilters').show();
			  		$('#selectedTags').append('<div class="activeTag">'+$(this).val()+'<i class="fa fa-times-circle"></i></div>');
			  }
		 }) 
		 
		  $('.viewBy').each(function() {
			 
			  if (urlTags.toLowerCase().indexOf($(this).attr('data-tag').toLowerCase()) >= 0 ) {
			  		$('.viewBy').removeClass('selected');
			  		$(this).addClass('selected');
			  		 
			  		 if($(this).attr('data-tag')!='') {
				  		 $('#genericOnes li').hide();
				  		 theStyle =  $(this).attr('data-tag');
				  		 console.log(theStyle);
				  		$('#'+theStyle).show();
				  	} 

			  		
			  }

		  })
		 $('.activeTag').click(function() {
			 theTag = $(this).text();
			 
			 $('#filterHolder  :checkbox[value='+theTag+']').attr('checked', false);
			 loadTags();
		 })
		 
		 
		 //var myParam = location.search.split('arrange=')[1] ? location.search.split('arrange=')[1] : 'small--one-half';
		 $('#which-Grid i').click(function() {
			 analytics.track('Clicked '+$(this).attr('data-arrange')+' View');
			 rearrange($(this).attr('data-arrange'));
			 $('#which-Grid i').removeClass('selected');
			 $(this).addClass('selected');
		 })
		 
		 
		 function rearrange(val) {
			 sortable= val;
			 if(val=='single') {
				 $('.collection-matrix li').attr('class','grid__item large--one-quarter medium--one-third small--one-half theProducts');
				
			 }else {
				 $('.collection-matrix li').attr('class','grid__item large--one-quarter medium--one-third small--one-half theProducts');
				 
			 }
		 } 
		 $('#seeFilters').click(function() {
			 $('#moreThemes').slideDown(200);
			 $(this).hide();
		 })	 
		 
		 $('#filterHolder label').click(function(){
			$('#filterHolder label').not($(this)).find('input').attr('checked', false); 
		 	
			 Lname = $(this).attr('for');
			  analytics.track('Clicked team Filter', {
		      Name: Lname
		    });
			console.log(Lname)
			 $(".filterBox").css('opacity', '0');
			 loadTags();
		})
		 $('.viewBy').click(function(){
			  Lname = $(this).attr('data-tag');
			  analytics.track('Clicked style sorting', {
		      Name: Lname
		    });

			 $('.viewBy').removeClass('selected');
			 $(this).addClass('selected');
			 loadTags();
		})
		function loadTags() {	 
			 if($('#viewType .selected').attr('data-tag') !=='') {
			 	viewBy =$('#viewType .selected').attr('data-tag')+'+'
			 }else {
				viewBy =''; 
			 }
			 allVals = '';
		     $('#filterHolder :checked').each(function() {
			    
		       allVals+='Uber-'+$(this).val()+'+';
		       
		     });
		     allVals = allVals+viewBy;
		     allVals = allVals.substring(0,allVals.length - 1);
		     
		    // allVals = allVals.slice(0,-1)
		   //  console.log(allVals);
		     window.location.href = jQuery('{{ 'tag' | link_to_tag: 'tag' }}').attr('href').replace('tag', allVals);
		 }
		 
		 
		 
		 
		 $('.mainFilter').click(function() {
			  var which = $('.filterBox',this);
			$(".filterBox").not(which).fadeOut(300);
			$('.filterBox',this).fadeToggle(300);	
		})
		
		 $('body').click(function(event) {
			//console.log(event.target.id );
			if(!$(event.target).hasClass('filterClick')) {
			//	console.log('clicked');
				$(".filterBox").fadeOut(300);
			}
		 })
		 
 	})


Shopify.queryParams = {};
if (location.search.length) {
  for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
    aKeyValue = aCouples[i].split('=');
    if (aKeyValue.length > 1) {
      Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
    }
  }
}
jQuery('#sort-by')
  .val('{{ collection.sort_by | default: collection.default_sort_by | escape }}')
  .bind('change', function() {
    Shopify.queryParams.sort_by = jQuery(this).val();
    location.search = jQuery.param(Shopify.queryParams).replace(/\+/g, '%20');
  });
</script>

{% comment %}


{% endcomment %}


