<!-- /templates/customers/register.liquid -->

<div class="grid genSection">

 <div class="grid__item large--two-thirds push--large--one-sixth text-center">
	  
 <h1>In order to Get your exclusive watches</h1>
 	<h3>Use the form below to create an account with your Uber email.</h3>
 	<h3>Once you're finished, go to modifywatches.com/uber</h3>
 	<h3>That's it, it's that simple</h3>
   
    <div class="form-vertical">
      {% form 'create_customer' %}

        {{ form.errors | default_errors }}

        <label for="FirstName" class="hidden-label">{{ 'customer.register.first_name' | t }}</label>
        <input type="text" name="customer[first_name]" id="FirstName" class="input-full" placeholder="{{ 'customer.register.first_name' | t }}" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus>

        <label for="LastName" class="hidden-label">{{ 'customer.register.last_name' | t }}</label>
        <input type="text" name="customer[last_name]" id="LastName" class="input-full" placeholder="{{ 'customer.register.last_name' | t }}" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words">

        <label for="Email" class="hidden-label">{{ 'customer.register.email' | t }}</label>
        <input type="email" name="customer[email]" id="Email" class="input-full{% if form.errors contains 'email' %} error{% endif %}" placeholder="{{ 'customer.register.email' | t }}" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">

        <label for="CreatePassword" class="hidden-label">{{ 'customer.register.password' | t }}</label>
        <input type="password" name="customer[password]" id="CreatePassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.register.password' | t }}">

        <p>
          <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn btn--full">
        </p>
        <a href="/pages/uber-login"><b>Already have an account? Log in here</b></a>

      {% endform %}
    </div>

  </div>

</div>

<!-- Segment Registration Event -->
<script type="text/javascript">
    analytics.track('Viewed Registration');
</script>