<!-- /templates/customers/register.liquid -->

<div class="grid genSection">

 <div class="grid__item large--two-thirds push--large--one-sixth text-center">
{% if customer %}
	{% if customer.email contains "uber.com"  or customer.email contains "modifywatches.com" %}
	<h1>You're almost there!</h1>
	<button type="button" class="locksmith-manual-trigger btn btn--full">
	
	  Click here to enter your passcode
	</button>
	{% else %}
		<h1>This Collection is for Uber employees and drivers only</h1>
		<h3>To create an account, log out of our existing account by <a href="/account/logout/">clicking here</a>. The go to Modifywatches.com/UBER and sign in with your uber email</h3>
	{% endif %}
{% else %}	
	  
 <h1>To get your exclusive Uber Watches</h1>
 <h3>1) Create an account with your Uber email</h3>
 <h3>2) Check for the collection passcode in your inbox</h3>
 <h3>3) Go to Modifywatches.com/UBER</h3> 	

    
    <div class="form-vertical medium-margin">
      {% form 'create_customer' %}

        {{ form.errors | default_errors }}

        <label for="FirstName" class="hidden-label">{{ 'customer.register.first_name' | t }}</label>
        <input type="text" name="customer[first_name]" id="FirstName" class="input-full" placeholder="{{ 'customer.register.first_name' | t }}" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus>

        <label for="LastName" class="hidden-label">{{ 'customer.register.last_name' | t }}</label>
        <input type="text" name="customer[last_name]" id="LastName" class="input-full" placeholder="{{ 'customer.register.last_name' | t }}" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words">

        <label for="Email" class="hidden-label">{{ 'customer.register.email' | t }}</label>
        <input type="email" name="customer[email]" id="Email" class="input-full{% if form.errors contains 'email' %} error{% endif %}" placeholder="{{ 'customer.register.email' | t }}" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">

        <label for="CreatePassword" class="hidden-label">{{ 'customer.register.password' | t }}</label>
        <input type="password" name="customer[password]" id="CreatePassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.register.password' | t }}">
		<div id="accepts_marketing " class="clearfix large_form"> 
		<h5>	<label for="marketing" style="font-weight:normal">Subscribe to our newsletter</label> 
			<input type="checkbox" name="customer[accepts_marketing]" checked value="true" id="marketing" /></h5>
		</div> 
        <p>
          <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn btn--full">
        </p>
        <a href="/pages/uber-login"><b>Already have an account? Log in here</b></a>
        <p><a href="/collections">Not An Uber Employee, browse our other watches <b>here</b></a></p>

      {% endform %}
    </div>
{% endif %}
  </div>

</div>

<!-- Segment Registration Event -->
<script type="text/javascript">
    analytics.track('Viewed Registration');
</script>

