{% include 'locksmith-variables' %}
<meta charset=utf-8>


<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900">
{% assign prefix = collection.handle | prepend: '' %}

{% assign collection_banner = prefix | append: '_banner.jpg' | asset_url %}
{% assign collection_banner_mobile = prefix | append: '_mobile_banner.jpg' | asset_url %}

</main>
<div class="expandedWidth newCollectionBanner" style="line-height: 0px !important">
	<div class="bannerImage">
		<img src="{{ collection_banner }}" class="show small--hide"/>
		<img src="{{ collection_banner_mobile }}" class="hide small--show"/>
		<div id="madeinsf" class="hide">
			<img src="{{ 'madeinsfwhite.png' | asset_url}}" />
		</div>
	</div>
	<div class="text-center miniPromo" style="background-color: #000000; margin-bottom: 0px;">
				  	Get 50% off your UBER watches. Use code <b style="color:#26e2ff;">UberAllDay</b> at checkout
			  	</div>

 	<div class="one-whole text-center medium-padding hide">
	 	
	 	<h1 class="small--text-center hide">{{ collection.title }}</h1>
	 		 	
	 	 
	 	<div style="clear:both"></div>
	</div>
</div>

	</div>
	<div style="clear:both"></div>
</div>

 <main class="wrapper main-content small-margin" role="main">
{% if locksmith_access_granted %}


	 {% include 'state-filter' %}
	
<div class="grid--rev">
	
  <div class="one-whole text-center">
	  	
   <p class=" text-center"><b>First time visitor?</b> Please refresh the page to view the most up to date collection</p>
  </div>
  <div class="one-whole">
   <div id="tabs"  class="grid__item one-whole">
	 
  		
        <div id="product-tab" >
	     	       <div class="collection_product one-whole small--one-whole left">
		  
						 	 
    	{% assign grid_item_width = 'large--one-quarter medium--one-third small--one-half' %}
		{% paginate collection.products by 44 %}	
				<ul class="collection-matrix">
				
				<div id="genericOnes" style="display:none;">
					<li id="MetalWatch" class="grid__item large--one-quarter medium--one-third small--one-half theProducts MetalWatch" data-tags="BlackHandsbrandGreyMetalWatchmungedUberUber Circles">
						<div class="productsGrid" data-product="Uber Circles Watch">
							 <a href="/collections/uber/products/uber-circles-watch-1" class="grid__image">
							    <img src="//cdn.shopify.com/s/files/1/0358/9733/products/MetalWatch_8fc59cfe-60d8-464c-84a7-959c377fad4e_large.jpg?v=1473804074" alt="Uber Circles Watch">
							  </a>
							  <div class="productsInfo">
							  <p class="h6 text-center">
							    <a href="/collections/uber/products/uber-circles-watch-1">Uber Circles Watch</a>
							  </p>
							   	  <p class="super-small text-center hide">
								 By, <a href="/collections/uber" > Uber </a>
								
							  </p>
							  	<p class="text-center super-small small-margin">
							        	$75.00 
							  </p>
							  <p class="super-small text-center hide">
								 (face only)  
							  </p>
						 </div>
						<div style="clear:both"></div>
					</div>
  
				 </li> 
				 				 	 
				 <li id="SportWatch" class="grid__item large--one-quarter medium--one-third small--one-half theProducts SportWatch" data-tags="BlackHandsbrandGreymungedSportWatchUberUber Circles">
					<div class="productsGrid" data-product="Uber Circles Sport Watch">					  
					  <a href="/collections/uber/products/uber-circles-sport-watch-1" class="grid__image">
					    <img src="//cdn.shopify.com/s/files/1/0358/9733/products/SportWatch_e9ba2309-55a5-4d3c-90c5-47b0fc8eb553_large.jpg?v=1473804083" alt="Uber Circles Sport Watch">
					  </a>
					 
					  <div class="productsInfo">
						  <p class="h6 text-center">
						    <a href="/collections/uber/products/uber-circles-sport-watch-1">Uber Circles Sport Watch</a>
						  </p>
						   	  <p class="super-small text-center hide">
							 By, <a href="/collections/uber" > Uber </a>
							
						  </p>
						  
						  	<p class="text-center super-small small-margin">	
						    		 $50.00   
						  </p>
							  <p class="super-small text-center hide">
								 (face only)  
							  </p>
						   	</div>
						<div style="clear:both"></div>
					</div>
  
				 </li> 
				</div>
						
				 {% for product in collection.products  %}				 	 
				 <li id="product-{{ forloop.index | plus:paginate.current_offset }}" class="grid__item {{ grid_item_width }} theProducts" data-tags="{{product.tags}}">
				  {% include 'product-grid-item' %}  
				 </li> 
				 {% endfor %}
				
				<div style="clear: both"></div>  
				 {% if paginate.next %}
				  <li class="more"><a href="{{ paginate.next.url }}"><button class="btn--secondary">See More</button></a></li>       
				 {% endif %}
				 <div style="clear: both"></div>
				</ul>
				
				<div id="product-list-foot"></div>
			{% endpaginate %}
	       </div>
        </div>
  </div> 
<div style="clear: both"></div>      
<div style="clear: both"></div>





 </div>
 <div style="clear:both"></div>
	
    
	
  </div>
  </div>
</div>
<div style="clear:both"></div>
{% else %}
	
	{% include 'uber-register' %}
{% endif %}

{% include 'vertical-tracking' %}

<!-- Scripts -->
<script>

 

  analytics.page('best sellers', {
    title: "{{ collection.title }}",
    url: window.location.href,
    path: '{{ collection.url }}',
	vertical: '{{ vertical }}', 
    referrer: document.referrer
  });
</script>