<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900">
{% assign prefix = collection.handle | prepend: '' %}

{% assign collection_banner = prefix | append: '_banner.jpg' | asset_url %}
{% assign collection_tile = prefix | append: '_tile.jpg' | asset_url %}
{% assign collection_profile = prefix | append: '_profile.jpg' | asset_url %}
{% assign collection_lifestyle_1 = prefix | append: '_lifestyle-1.jpg' | asset_url %}
{% assign collection_lifestyle_2 = prefix | append: '_lifestyle-2.jpg' | asset_url %}

{% assign collection_mod_asset = 'collection_small_mod_asset2.jpg' | asset_url %}

{% if product.vendor %}
	{% assign collaboration = product.vendor %}
	{% assign handles = product.vendor | handleize %}
	{% assign colID = collections[handles].id %}
	{% assign followers = collections[handles].metafields.followers %}
	<div id="followFrame">
{% else %}
	{% assign collaboration = collection.title %}
	{% assign colID = collection.id %}
	{% assign followers = collection.metafields.followers %}
	<div id="followFrame">
{% endif %}	
	{% assign followed = followers | size %}
	{% assign following = followed | divided_by: 2 %}



{% assign pagination_limit = 8 %}
{% paginate collection.products by pagination_limit %}
{% assign tag_count = collection.all_tags | size %}
{% assign tag_threshold = 8 %}
 {% assign grid_item_width_half = 'one-half small--one-eighth' %}
{% for tag in collection.all_tags %}

				{% if tag contains 'profit'  %}
					 {% assign collabType = 'non-profit' %}	
				{% endif %}	 
				{% if  tag contains 'brand' %}
					 {% assign collabType = 'brand' %}
				{% endif %}		
				{% if  tag contains 'artist' %}
					 {% assign collabType = 'artist' %}
				{% endif %}	
				{% if  tag contains 'musician' %}
					 {% assign collabType = 'musician' %}
				{% endif %}			
				{% if  tag contains 'influencer' %}
					 {% assign collabType = 'influencer' %}	
				{% endif %}	 
				{% if  tag contains 'sports' %}
					 {% assign collabType = 'sports' %}		
				{% endif %}	
			{% endfor %}	

</main> 
<div class="expandedWidth newCollectionBanner" style="background-image: url('{{ collection_banner }}')">
	<div class="collectionInfo">
		<div class="collectNames">
			<div class="iconHolder">
			 	<img src="{{ collection_profile }}" alt="{{ collection.title }} tile image" class="partnerIcon roundedBorder" id="colProfile">
			</div>
			<div class="namesHolder">
			 	<h1 class="small--text-center">{{ collection.title }}</h1>
			 	<h3 class="small--text-center hide">{{ collabType }}</h3>
			 	 {% if followed > 0 %}
                <b id="followText">{{ followed }} Fans</b><br>
            {% endif %}
           		<div style="clear:both"></div>
			 	{% include 'new-follow' %}
			</div>
			<div style="clear:both"></div>
		</div>
		<div class="text-center miniPromo" style="background-color: #70b1db">
				  	Get 25% off this collection. Use code <b>fred25</b> at checkout
			  	</div>
		{% comment %}
		<div class="collectionBio">
			 
			 <div class="minimalText maxHeight">
				 {{ collection.description }}
			 	<div class="readMore"><a href="#">Read More</a></div>
			 </div>
			 <div id="shareHolder">
				 Help share {{ collection.title }}'s story<br>
			 <div class="share-buttons share-buttons-panel" data-style="big" data-counter="false" data-oauth="true" data-hover="true" data-promo-callout="none" data-buttons="twitter,facebook,pinterest"></div>
			 </div>
		</div>
		{% endcomment %}
	</div>
	<div style="clear:both"></div>
</div>
 <main class="wrapper main-content small-margin" role="main">

<div class="grid--rev">
  <div class="one-whole">
  
  
  
  <div id="tabs">
	 
  
        <div id="product-tab">
	     	       <div class="collection_product one-whole small--one-whole left">
		  
						 	 
    	{% assign grid_item_width = 'large--one-quarter medium--one-quarter small--one-half' %}
		{% paginate collection.products by 12 %}		
				<ul class="collection-matrix">
				 {% for product in collection.products  %}
 				 	 
				 <li id="product-{{ forloop.index | plus:paginate.current_offset }}" class="grid__item {{ grid_item_width }} theProducts" data-tags="{{product.tags}}">
				  {% include 'product-grid-item' %}				  
				 </li>  	
				 	
				 {% endfor %}
				  <div style="clear: both"></div>
				      
				 {% if paginate.next %}
				  <li class="more"><button class="btn--secondary"><a href="{{ paginate.next.url }}">See More</a></button></li>       
				 {% endif %}
				 <div style="clear: both"></div>
				</ul>
				
				<div id="product-list-foot"></div>
			{% endpaginate %}

	       </div>
        </div>
  </div>
  </main>
<div class="grid--full one-whole text-center genSection bigger-padding">
	<div class="left large--one-half medium--one-half small--one-whole lifestyle">
	 	<img src="{{ collection_lifestyle_1 }}" class="fullimage"/>
	</div>
	<div class="left large--one-half medium--one-half small--one-whole lifestyle">
	 	<img src="{{ collection_lifestyle_2 }}" class="fullimage"/>
	</div>
	<div class="left large--one-half medium--one-half small--one-whole lifestyle">
	 	<img src="{{ collection.image | img_url: 'grande' }}" alt="{{ collection.title }} tile image" class="fullimage">
	</div>
	<div class="left large--one-half medium--one-half small--one-whole big-padding grid__item text-left">
 	<div class="collabDesc">
 	   <h2>{{collection.title}}</h2>
 	   <hr class="orangeHR"/>
 	   <div class=""><p>
		 {{ collection.description }}
 	   </p>
		</div>
	 <div id="shareHolder">
		 Help share {{ collection.title }}'s story<br>
	 <div class="share-buttons share-buttons-panel" data-style="big" data-counter="false" data-oauth="true" data-hover="true" data-promo-callout="none" data-buttons="twitter,facebook,pinterest"></div>
	 </div>
 </div>
</div>
</div>
<main class="wrapper" role="main">
<div style="clear: both"></div>      
<div style="clear: both"></div>




 </div>
 <div style="clear:both"></div>
	{% include 'the-watches' %}			     
   
    
	
  </div>
  </div>
</div>
<div style="clear:both"></div>







{% endpaginate %}

{% include 'vertical-tracking' %}

<!-- Scripts -->
<script>

 

  analytics.page('Partner Storefront', {
    title: "{{ collection.title }}",
    url: window.location.href,
    path: '{{ collection.url }}',
	vertical: '{{ vertical }}', 
    referrer: document.referrer
  });
$(document).ready(function() {
	var currentArt = '';
		var image_url = $('#colProfile').attr('src');
	$.get(image_url)
    .done(function() { 
       console.log('good');

    }).fail(function() { 
      $('#colProfile').attr('src',"{{ collection.image | img_url: 'medium' }}");

    })
	
	
})
</script>