<!-- /templates/collection.liquid -->
{% comment %}

  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection

{% endcomment %}

{% paginate collection.products by 12 %}

{% include 'breadcrumb' %}

{% comment %}
  Use .grid--rev so that the collection tags appear below the products on mobile
{% endcomment %}
<div class="grid--rev">

  
  <div class="grid__item one-whole">

    {% comment %}
      Different markup if a collection description exists
    {% endcomment %}
    {% if collection.description != blank %}
      <header class="section-header">
        <h1 class="section-header__title">{{ collection.title }}</h1>
        <div class="rte rte--header">
          {{ collection.description }}
        </div>
      </header>
      <hr>
      <div class="section-header">
        <div class="section-header__right">
          {% include 'collection-sorting' %}
        </div>
      </div>
    {% else %}
      <header class="section-header">
        <h1 class="section-header__title section-header__left">{{ collection.title }}</h1>
        <div class="section-header__right">
          {% include 'collection-sorting' %}
        </div>
      </header>
    {% endif %}

    {% comment %}
      Use class grid-uniform to have evenly sized columns clear
      each other properly at each breakpoint.
    {% endcomment %}
    <div class="grid-uniform">
      {% comment %}
        Loop through our products in the current collection.
        See the snippet 'product-grid-item' for the layout.
      {% endcomment %}
      {% assign grid_item_width = 'large--one-quarter medium--one-third small--one-half' %}
			{% paginate collection.products by 24 %}
				<ul class="collection-matrix">
				 {% for product in collection.products %}
				 	 {% if product.type !='Art' %}
				 <li id="product-{{ forloop.index | plus:paginate.current_offset }}" class="grid__item {{ grid_item_width }}">
				  {% include 'product-grid-item' %}
				 </li> 
				 	{% endif %}
				 {% endfor %}
				  <div style="clear: both"></div>
				      
				 {% if paginate.next %}
				  <li class="more"><a href="{{ paginate.next.url }}"><button class="btn--secondary">See More</button></a></li>       
				 {% endif %}
				 <div style="clear: both"></div>
				</ul>
				
				<div id="product-list-foot"></div>
			{% endpaginate %}

    </div>
  </div>

</div>

{% endpaginate %}

<!-- Segment Collection Event -->
<script type="text/javascript">
  analytics.page('Category', {
    title: "{{ collection.title }}",
    url: "{{ collection.url }}",
    referrer: document.referrer,
    path: window.location.pathname,
    productCount: {{ collection.all_products_count }},
    sortBy: "{{ collection.default_sort_by }}"
  });
</script>