{% include 'locksmith-variables' %}
<meta charset=utf-8>


<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900">
{% assign prefix = collection.handle | prepend: '' %}

{% assign collection_banner = prefix | append: '_banner.jpg' | asset_url %}
{% assign collection_banner_mobile = prefix | append: '_mobile_banner.jpg' | asset_url %}

</main>
<div class="expandedWidth newCollectionBanner" style="line-height: 0px !important">
	<div class="bannerImage">
		<img src="{{ collection_banner }}" class="show small--hide"/>
		<img src="{{ collection_banner_mobile }}" class="hide small--show"/>
		<div id="madeinsf" class="hide">
			<img src="{{ 'madeinsfwhite.png' | asset_url}}" />
		</div>
	</div>
	
 	<div class="one-whole text-center medium-padding hide">
	 	
	 	<h1 class="small--text-center hide">{{ collection.title }}</h1>
	 		 	
	 	 
	 	<div style="clear:both"></div>
	</div>
</div>

	</div>
	<div style="clear:both"></div>
</div>

 <main class="wrapper main-content small-margin" role="main">
{% if locksmith_access_granted %}


	 {% include 'state-filter' %}
	
<div class="grid--rev">
	
  <div class="one-whole text-center">
   <p class="super-small text-center"> {{ collection.description }}</p>
  </div>
  <div class="one-whole">
   <div id="tabs"  class="grid__item one-whole">
	 
  		
        <div id="product-tab" >
	     	       <div class="collection_product one-whole small--one-whole left">
		  
						 	 
    	{% assign grid_item_width = 'large--one-quarter medium--one-third small--one-half' %}
		{% paginate collection.products by 44 %}	
				<ul class="collection-matrix">
						
				 {% for product in collection.products  %}				 	 
				 <li id="product-{{ forloop.index | plus:paginate.current_offset }}" class="grid__item {{ grid_item_width }} theProducts" data-tags="{{product.tags}}">
				  {% include 'product-grid-item' %}  
				 </li> 
				 {% endfor %}
				
				<div style="clear: both"></div>  
				 {% if paginate.next %}
				  <li class="more"><a href="{{ paginate.next.url }}"><button class="btn--secondary">See More</button></a></li>       
				 {% endif %}
				 <div style="clear: both"></div>
				</ul>
				
				<div id="product-list-foot"></div>
			{% endpaginate %}
	       </div>
        </div>
  </div> 
<div style="clear: both"></div>      
<div style="clear: both"></div>





 </div>
 <div style="clear:both"></div>
	
    
	
  </div>
  </div>
</div>
<div style="clear:both"></div>
{% else %}
	
	{% include 'uber-register' %}
{% endif %}

{% include 'vertical-tracking' %}

<!-- Scripts -->
<script>

 

  analytics.page('best sellers', {
    title: "{{ collection.title }}",
    url: window.location.href,
    path: '{{ collection.url }}',
	vertical: '{{ vertical }}', 
    referrer: document.referrer
  });
</script>