<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900">
{% assign prefix = collection.handle | prepend: '' %}

{% assign collection_banner = prefix | append: '_banner.jpg' | asset_url %}
{% assign collection_banner_mobile = prefix | append: '_mobile_banner.jpg' | asset_url %}</main> 
<div class="expandedWidth newCollectionBanner" style="line-height: 0px !important">
<div class="grid--full one-whole text-center genSection bigger-padding">
	<div class="left large--one-half medium--one-half small--one-whole lifestyle">
	 	<img src="{{ collection.image | img_url: 'grande' }}" alt="{{ collection.title }} tile image" class="fullimage">
	</div>
	<div class="left large--one-half medium--one-half small--one-whole big-padding grid__item text-left">
 	<div class="collabDesc">
 	   <h2>{{collection.title}}</h2>
 	   <hr class="orangeHR"/>
 	   <div  style="line-height: 20px">
 	   <div class=""><p>
		 {{ collection.description }}
 	   </p>
		</div>
 	   </div>
 	</div>
</div>

</div>
	<div style="clear:both"></div>
</div> 
 <main class="main-content small-margin" role="main">

<div class="grid--rev">
  <div class="one-whole">
  
  
  
  <div id="tabs"  class="grid__item one-whole">
	 
  		
        <div id="product-tab" >
	     	       <div class="collection_product one-whole small--one-whole left">
		  
						 	 
    	{% assign grid_item_width = 'large--one-quarter medium--one-third small--one-half' %}
		{% paginate collection.products by 24 %}	
				<ul class="collection-matrix">
						
				 {% for product in collection.products  %}				 	 
				 <li id="product-{{ forloop.index | plus:paginate.current_offset }}" class="grid__item {{ grid_item_width }} theProducts" data-tags="{{product.tags}}">
				  {% include 'product-grid-add' %}  
				 </li> 
				 {% endfor %}
				
				<div style="clear: both"></div>  
				 {% if paginate.next %}
				  <li class="more"><button class="btn--secondary"><a href="{{ paginate.next.url }}">See More</a></button></li>       
				 {% endif %}
				 <div style="clear: both"></div>
				</ul>
				
				<div id="product-list-foot"></div>
			{% endpaginate %}
	       </div>
        </div>
  </div>
  </main>

</div>
<main class="wrapper" role="main">
<div style="clear: both"></div>      
<div style="clear: both"></div>




 </div>
 <div style="clear:both"></div>
		     
   	
  </div>
  </div>
</div>
<div style="clear:both"></div>



{% include 'vertical-tracking' %}

<!-- Scripts -->
<script>

 

  analytics.page('Partner Storefront', {
    title: "{{ collection.title }}",
    url: window.location.href,
    path: '{{ collection.url }}',
	vertical: '{{ vertical }}', 
    referrer: document.referrer
  });
$(document).ready(function() {
	var currentArt = '';
		var image_url = $('#colProfile').attr('src');
	$.get(image_url)
    .done(function() { 
       console.log('good');

    }).fail(function() { 
      $('#colProfile').attr('src',"{{ collection.image | img_url: 'medium' }}");

    })
	
	
})
</script>
<script>
	$(document).ready(function() {
	$('.productsGrid button').click(function(event){
		analytics.track('added instant cart product',
			{Name: $(this).attr('data-title')
		});
	
	
	//analytics.track('Added Product to Cart');
	  Shopify.queue = [];
	   Shopify.queue.push({
			 variant_id: $(this).attr('data-id'),
			 quantity: 1
    	});

	  event.preventDefault();
	  Shopify.moveAlong();
	  
	});
	$('.productsGrid a').click(function(event){
		analytics.track('viewed instant cart product',
			{Name: $(this).attr('data-title')
		});
	})
	Shopify.moveAlong = function() {
	  // If we still have requests in the queue, let's process the next one.
	  if (Shopify.queue.length) {
	    var request = Shopify.queue.shift();
	    Shopify.addItem(request.variant_id, request.quantity, Shopify.moveAlong);
	  }
	  // If the queue is empty, we will redirect to the cart page.
	  else {
	    // update cart value
	    shopifyUpdateCart();
	    analytics.track('Added Product to Cart');
	  //  blink('.header .cart');
	 //   addedButtonFeedback();
	  }
	};

	
	
	
	function shopifyUpdateCart() {
	  	Shopify.getCart(function(data){
		    count = data.item_count;
		    cart_el = '<span id="CartCount">' + count + '</span>';
		    cart_count = $('span#CartCount');
			//console.log(cart_count.text());
		    // if cart count doesn't exist then add it
		    if (cart_count.length == 0) {
		      $('a#cartIcon').append(cart_el);
		    }else{
		      cart_count.text("").text(count);
			}
			$('span#CartCount').fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100);
			$('#cartAlert').slideDown(200).delay(2000).slideUp(200);
	   })
	  
	   	
	}		

			
		
})	
	
</script>