<!-- Define Sidenav Lists -->
{% comment %}
    Edit these variables to point to different link lists.
{% endcomment %}
{% assign sidenav1 = linklists.products %}
{% assign sidenav2 = linklists.partners %}
{% assign sidenav3 = linklists.great-gifts %}
{% assign sidenav4 = linklists.styles %}

<style>
@media (max-width: 767px) {
  .flexslider {
    width: 160%;
    margin-left: -30%;
  }
  .feature-header {
      overflow: hidden;
  }
  .feature-header .flex-control-nav {
      bottom: -10px;
  }
  .feature-header .flex-control-nav li a {
      width: 6px;
  }
}
</style>

{% include 'homepage-split-header' %}


<!-- Main Featured Header 
</main>
<section class="grid--full feature-header">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <a href="/collections/mlb-licensed-watches"><img src="//cdn.shopify.com/s/files/1/1159/6060/files/mlbopeningday2016_banner.png?9448565311181063009" /></a>
        </li>
        <li>
          <a href="/pages/storefronts"><img src="{{ 'Homepage_Header2.jpg' | asset_url }}" /></a>
        </li>
        <li>
          <a href="/pages/march-modness-2016"><img src="{{ 'mm_mm2016banner.jpg' | asset_url }}" /></a>
        </li>          
      </ul>
    </div>
</section>
<main class="wrapper main-content big-margin" role="main">

    
<!-- /templates/index.liquid 
<section class="grid__item large--three-quarters  medium--three-quarters  small--one-whole pageBanner homeBanner genSection right">
	<h1 class="grid__item two-thirds text-white small--four-fifths">
       Great products from causes, artists and more!
    </h1>
</section>
<section class="grid__item large--one-quarter medium--one-quarter small--one-whole light-bg pageBanner genSection">
	<div class="grid__item">
        <div class="grid__item">
        <h5 class="large--eleven-twelfths medium--one-whole small--one-whole small--text-center">
            Help your fans get the products they love, yours.
        </h5>
        <div class="small--one-whole small--text-center">
            <button class="btn--secondary small-margin "><a href="/pages/storefronts">Get Started</a></button>
            <p class="small--hide">
                <i>
                It's free!
                </i>
            </p>
        
        </div>
        </div>
    </div>
</section>

-->

<section class="grid--full">
    <!-- Side Nav -->
    <!-- 
    <div class="grid__item large--one-fifth medium--one-quarter small--hide clear ">
        {% comment %}
            Make sure array here matches variables at the top of page.
        {% endcomment %}
        {% assign sidenavArray = "sidenav1|sidenav2|sidenav3|sidenav4" | split: "|" %}
        {% for item in sidenavArray %}
            <div class="large--one-whole">
                <h4>{{ [item].title }}</h4>
                <hr class="orangeDash">
                <ul class="homeList">
                    {% for link in [item].links %}
                    <li>
                        <a href="{{ link.url }}" title="{{ link.title | escape }}">{{ link.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
    -->

    <div class="grid__item one-whole text-center" id="pageTop">
    {% comment %}

    This is the homepage of your site.

    More info on global variables (available on all templates):
        - http://docs.shopify.com/themes/liquid-variables/global
    {% endcomment %}

    <h2 style="margin-bottom: 20px;" >Trending Designs</h2>

    {% comment %}
    Use class grid-uniform to have evenly sized columns clear
    each other properly at each breakpoint.
    {% endcomment %}
	 {% assign grid_item_width = 'large--one-fifth medium--one-quarter small--one-third' %}
		<div class="grid--uniform">
			{% paginate collections.trending-designs.products by 60 %}
            <ul class="collection-matrix">
            {% for product in collections.trending-designs.products %}
            
            <li id="product-{{ forloop.index | plus:paginate.current_offset }}" class="grid__item {{ grid_item_width }}">
            {% include 'art-grid' %}
            </li> 
            {% endfor %}
            <!--<li class="top"><a href="#pageTop">Back to Top</a></li>  -->      
            {% if paginate.next %}
            <li class="more"><button class="btn--secondary"><a href="{{ paginate.next.url }}">See More</a></button></li>        
            {% endif %}
            <div style="clear: both"></div>
            </ul>
            
            <div id="product-list-foot"></div>
            {% endpaginate %}
        </div>
    </div>
</section>

<!-- Scripts -->
<script>
    
/* FEATURE SLIDER SCRIPT */
$(window).ready(function() {
    $('.feature-header .flexslider').flexslider({
        animation : "fade"
    });
});
</script>

<!-- Segment Viewed Homepage -->
<script type="text/javascript">
  analytics.page('Homepage');
</script>