<!-- Main Featured Header -->
</main>
  <section class="section-container feature-header">
      <div class="flexslider">
        <ul class="slides"> 
	         <li>
            	<a href="/collections/glow-in-the-dark-collection" title="glow in the dark collection">
	            	<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/glow-banner.jpg?7909110960846212058" alt="glow in the dark collection" class="show small--hide" />
	            	<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/glow-mobile.jpg?7909110960846212058" alt="glow in the dark collection" class="hide small--show"/>
	            </a>
			</li>   
	         <li>
            	<a href="/collections/typography-collection" title="typography collection">
	            	<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/typecollection_banner.jpg?15211897652081544965" alt="typography collection" class="show small--hide" />
	            	<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/mobile_typography.jpg?15211897652081544965" alt="typography collection" class="hide small--show"/>
	            </a>
			</li>   
			<li>
            	<a href="/collections/summer-collection" title="summer collection">
	            	<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/summer-collection.jpg?4925167896407232981" alt="summer collection" class="show small--hide"/>
	            	<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/summer-mobile.jpg?17972560407340518961" alt="summer collection" class="hide small--show"/>
	        	</a>
			</li> 
			<li>		
            	<a href="collections/july-4th-collection" title="July 4th">
	            	<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/4th.jpg?1033822680263006525" alt="4th july collection" class="show small--hide"/>
	            	<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/4th_mobile.jpg?1033822680263006525" alt="4th July collection" class="hide small--show"/>
	        	</a>		
			</li> 
			 <li>
            	<a href="/collections/christmas-in-july" title="christmas in july collection">
	            	<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/christmasinjuly.jpg?6590450532877058061" alt="christmas in july" class="show small--hide" />
	            	<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/christmasinjuly_mobile.jpg?6590450532877058061" alt="christmas in july" class="hide small--show"/>
	            </a>
			</li>  
		   <li>
            	<a href="/collections/major-league-baseball" title="MLB collection">
	            	<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/mlb_7f6b4c80-cb89-4c87-b122-366d99f3de88.jpg?17397841423694082012" alt="MLB" class="show small--hide" />
	            	<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/mlb_mobile.jpg?17397841423694082012" alt="MLB" class="hide small--show"/>
	            </a>
			</li>  
          
	         <li>
            	<a href="/collections/floral-collection" title="floral collection">
	            	<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/floral_collection_final.jpg?15102566988549185087" alt="floral collection" class="show small--hide" />
	            	<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/floral_mobile.jpg?15102566988549185087" alt="floral collection" class="hide small--show"/>
	            </a>
			</li>  

	        
			          {% comment %}
	        <li>
            	<a href="/collections/bay-area" title="Bay Area collection">
	            	<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/bay_banner.jpg?17310134056262088433" alt="Bay Area collection" class="show small--hide"/>
	            	<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/bayarea_mobile.jpg?8916166046747442110" alt="Bay Areas collection" class="hide small--show"/>
	        	</a>
			</li> 
			{% endcomment %}

	        <li>
            	<a href="/collections/cleveland-cavaliers" title="Cavs collection">
	            	<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/bg-cavs.jpg?1735389919664262125" alt="cavs collection" class="show small--hide" />
	            	<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/mobile_cavs-1.jpg?1735389919664262125" alt="cavs collection" class="hide small--show"/>
	            </a>
			</li>  

        	           
			
			<li>
            	<a href="/collections/best-sellers" title="Best Sellers">
	            	<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/fanfavorites-homepage2.jpg?17314048123973276447" alt="Best Sellers" class="show small--hide"/>
	            	<img src="https://cdn.shopify.com/s/files/1/0358/9733/files/mobile-moment.jpg?4256734775047017493" alt="Best Sellers" class="hide small--show"/>
	            </a>
          </li>       
           <!-- <li>
            <a href="/collections/moving-sale" title="Moving Sale"><img src="https://cdn.shopify.com/s/files/1/0358/9733/files/banner.jpg?9352398710094354705" alt="Moving Sale"/></a>
          </li> 
          -->     
                              
        </ul>
      </div>
  </section>

<main class="wrapper main-content medium-margin homeContainer" role="main">
	<section id="catchCallouts" class="one-whole">
		<h1 class="hide small--show text-center">
			Two ways to Modify
			<hr class="orangeDash-center" />
		</h1>
		<div class="grid__item one-sixth small--hide push--small--hide text-left">
			<h2>Shop</h2>
			<hr class="orangeDash small--hide" />
			<ul id="shopNav">
				{% for link in linklists.our-designs.links %}
					<li><a href="{{ link.url }}" title="{{link.title}}">{{link.title}}</a></li>
				{% endfor %}	
			</ul>
		</div>
		<div class="grid__item five-twelfths text-center small--one-whole feature-tiles ">
			 <a href="collections/watch" title="Sport Collection" class="calloutLinks"><h2>Sport (Silicone Watches)</h2></a>
			
			 <a href="collections/watch" title="Sport Collection" class="calloutLinks">
			<img src="{{'silicone.jpg' | file_url}}" />
			 <div class="buttonFrame"><button class="btn--secondary">SHOP SPORT</button></div>
			 </a>
			<hr class="orangeDash-center hide" />
			<h4>Starting at $40</h4>
			
	
		</div>
		<div class="grid__item five-twelfths small--one-whole text-center feature-tiles">
			 <a href="collections/bluxome" title="Bluxome Collection" class="calloutLinks"><h2>Bluxome (Metal Watches)</h2></a>
			
			  <a href="collections/bluxome" title="Bluxome Collection" class="calloutLinks">
			 <img src="{{'stainless.jpg' | file_url}}" />
			 <div class="buttonFrame"><button class="btn--secondary">SHOP BLUXOME</button></div>
			 </a>
			<hr class="orangeDash-center hide" />
			<h4>Starting at $75</h4>
			
			
		</div>
<div style="clear:both"></div>
	</section>

	<section class="one-whole text-center big-margin" id="modifyCallout">
			<h1>Modify: The Best Watch for Any Occasion</h1>
			<hr class="orangeDash-center" />
		<div class="grid__item eight-twelfths small--one-whole" style="line-height: 0px;">
			<img src="{{'occasion.jpg' | file_url}}" class="lightBorder"/>
		</div>
		<div class="grid__item four-twelfths text-left  grey-text smallishText small--one-whole">
			<img src="{{'madinsf.jpg' | file_url}}"/>
			
			<!--		
			<p class="">Modify Watches help you "show your colors". Use Modify to</p>
				<ul>
					<li>class-it-up at a wedding</li>
					<li>bring your loved ones with you always, thanks to photo watches of your kids (or dog!).</li>
					<li>prove your loyalty to Cleveland sports even though you know you'll be disappointed</li>
					<li>match your funky polka dot pants</li>
				</ul>
				<p>Hand-assembled in San Francisco, Modify can create the watch that suits <b>you</b>.</p>
				-->
	</div>
	<div style="clear:both"></div>
</section>
{% comment %}
	<main class="wrapper main-content medium-margin" role="main">
{% endcomment %}	

	<section class="one-whole text-center  big-margin" id="productCallouts">
			<h2>Browse Some of Our Finest</h2>
			<hr class="orangeDash-center" />
		<div class="grid__item one-third small--one-whole feature-tiles">
			 <a href="/pages/artists" title="Artists Collabs" class="calloutLinks">
			<img src="{{'waffleGuy.jpg' | file_url}}" />
			 <div class="buttonFrame"><button class="btn--secondary">SHOP ARTISTS</button></div>
			 </a>
			<hr class="orangeDash-center hide" />
			 <a href="/pages/artists" title="Artists Collabs" class="calloutLinks"><h4>Artists</h4></a>
			

		</div>
		<div class="grid__item one-third small--one-whole feature-tiles">
			  <a href="/pages/the-essentials" title="Essentials Collection" class="calloutLinks">
			<img src="{{'essentials.jpg' | file_url}}" />
			 <div class="buttonFrame"><button class="btn--secondary">SHOP ESSENTIALS</button></div>
			 </a>
			<hr class="orangeDash-center hide" />
			<a href="/pages/the-essentials" title="Essentials Collection" class="calloutLinks"><h4>Essential Collections</h4></a>
			

		</div>
		<div class="grid__item one-third small--one-whole feature-tiles">
			<a href="/collections" title="Sports Teams" class="calloutLinks">
			<img src="{{'sports.jpg' | file_url}}" />
			 <div class="buttonFrame"><button class="btn--secondary">SHOP SPORTS</button></div>
			 </a>
			<hr class="orangeDash-center hide" />
			<a href="/collections" title="Sports Teams" class="calloutLinks"><h4>Sports</h4></a>
			

		</div>

	
		<div style="clear: both"></div>
	</section>
	 <section class="section-container feature-header big-margin text-center">
      <div>
	      
		 <a href="/pages/custom" title="Custom" class="calloutLinks">
			 <h2>Design Your Own Custom Watch</h2>
			 <hr class="orangeDash-center small--hide" />
			 <div class="bigCallout"><button class="btn--secondary">GET STARTED DESIGNING</button></div>
			 <img src="{{ 'lineup.jpg' | file_url }}" alt="collaborate with us" class="big-callout"/>
			 
       
    	</a>
      </div>
	 </section>
	 <section class="section-container feature-header big-margin text-center">
     	<div>  
			<a href="/pages/wholesale" title="Wholesale" class="calloutLinks">
				<h2>Private Label Watches for Your Brand</h2>
				 <hr class="orangeDash-center small--hide" />
				<div class="one-whole large--three-quarters push--large--one-eighth"> 
					 <div class="bigCallout"><button class="btn--secondary">GET YOUR WATCHES</button></div>
					<img src="{{ 'dropshipper.jpg' | file_url }}" alt="Wholesale Program"/>
				</div>
        	</a>
      	</div>
	 </section>
	
	 
	 
	 <section class="section-container feature-header big-margin text-center">
      <div>
	      	<a href="/pages/collaboration-form" title="Partner with us" class="calloutLinks"><h2>Raise Funds for Your Favorite Cause!</h2>
			 <hr class="orangeDash-center small--hide" />
			  <div class="bigCallout"><button class="btn--secondary">GET STARTED</button></div>
        <img src="{{ 'non-profit.jpg' | file_url }}" alt="collaborate with us"/></a>
      </div>
  </section>
   <section class="section-container feature-header big-margin text-center">
	  	<h2>Hand-Assembled in San Francisco</h2>
		<hr class="orangeDash-center small-margin small--hide" />
		<div class="grid__item large--three-quarters push--large--one-eighth small--one-whole small-margin">
			
			<div class="vid">
				<iframe width="100%" height="100%" src="https://www.youtube.com/embed/XGirTilH0FU?autoplay=0&rel=0&autohide=1&showinfo=0&controls=0?&loop=1" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		
		
		
  </section>
  <div style="clear: both"></div>
  <section class="one-whole text-center big-margin" style="margin-bottom: 0px !important;">
  		<h4>AS SEEN IN</h4>
        <hr class="orangeDash-center" />
  </section>
<section class="grid--full one-whole medium-padding  grey-bg press">
    <!-- Wrapper Grid -->
  
    <div class="grid--full large--one-whole text-center text-white">
        
        <a class="grid__item large--one-sixth medium--one-quarter small--one-third" href="https://www.youtube.com/watch?v=4ugFPIfG5b0#t=2m21s"><img class="five-sixths" src="{{ 'Press_Ellen.png' | asset_url }}" alt="Ellen" /></a>
        <a class="grid__item large--one-sixth medium--one-quarter small--one-third" href="http://news.yahoo.com/deals-and-steals-beach-party-edition-173339934.html"><img class="five-sixths" src="{{ 'Press_GoodMorningAmerica.png' | asset_url }}" alt="CBS Good Morning America" /></a>
        <a class="grid__item large--one-sixth medium--one-quarter small--one-third" href="http://www.menshealth.com/style/watches-brights"><img class="five-sixths" src="{{ 'Press_MensHealth.png' | asset_url }}" alt="Men's Health" /></a>
        <a class="grid__item large--one-sixth medium--one-quarter small--one-third" href="http://old.modifywatches.com/templates/Modify/images/default/press/WomensHealthJune2013.pdf"><img class="five-sixths" src="{{ 'Press_WomensHealth.png' | asset_url }}" alt="Women's Health" /></a>
        <a class="grid__item large--one-sixth medium--one-quarter small--one-third" href="http://www.today.com/id/49063771/ns/today-video/#51036431"><img class="five-sixths" src="{{ 'Press_Today.png' | asset_url }}" alt="Today Show" /></a>
        <a class="grid__item large--one-sixth medium--one-quarter small--one-third" href="https://instagram.com/p/OooPktED28/"><img class="five-sixths" src="{{ 'Press_VanityFair.png' | asset_url }}" alt="Vanity Fair" /></a>
        <a class="grid__item large--one-sixth push--large--one-twelfth medium--one-quarter small--one-third" href="http://www.self.com/fitness/runners/2013/09/nighttime-running-gear-slideshow/1"><img class="five-sixths" src="{{ 'Press_Self.png' | asset_url }}" alt="Self Magazine" /></a>
        <a class="grid__item large--one-sixth push--large--one-twelfth medium--one-quarter small--one-third" href="http://boss.blogs.nytimes.com/2012/01/05/turning-facebook-followers-into-online-focus-groups/"><img class="five-sixths" src="{{ 'Press_NYT.png' | asset_url }}" alt="The New York Times" /></a>
        <a class="grid__item large--one-sixth push--large--one-twelfth medium--one-quarter push--medium--one-eighth small--one-third" href="https://twitter.com/mitsu_tsuchiya/status/354314395058319362"><img class="five-sixths" src="{{ 'Press_Nylon.png' | asset_url }}" alt="Nylon" /></a>
        <a class="grid__item large--one-sixth push--large--one-twelfth medium--one-quarter push--medium--one-eighth small--one-third push--small--one-twelfth" href="http://www.vogue.com/13295927/best-back-to-school-denim-kids-kidswear/"><img class="five-sixths" src="{{ 'Press_Vogue.png' | asset_url }}" alt="Vogue" /></a>
        <a class="grid__item large--one-sixth push--large--one-twelfth medium--one-quarter push--medium--one-eighth small--one-third push--small--one-twelfth" href="http://www.inc.com/young-entrepreneur-council/3-customer-service-rules-to-work-by.html"><img class="five-sixths" src="{{ 'Press_Inc.png' | asset_url }}" alt="Inc" /></a>
    </div>
    
</section>
<section class="one-whole medium-margin">
  <!-- Secondary Feature Header -->

<!-- Social -->
{% include 'instagram-feed' %}
</section>
	
	

<!-- Scripts -->
<script defer src="https://cdn.shopify.com/s/files/1/0358/9733/t/3/assets/jquery.flexslider.js"></script>
<script>
/* FEATURE SLIDER SCRIPT */
	$(window).ready(function() {
		$('.feature-header .flexslider').flexslider({
			animation : "slide"
		});
	});
</script>
<script type="text/javascript">
	$(document).ready(function() {
		$(".slides li a").click(function(){
	    	analytics.track('Clicked '+$(this).attr('title')+' Home Banner');
		});
		$("#shopNav li a").click(function(){
	    	analytics.track('Clicked '+$(this).attr('title')+' in Home Nav');
		});
		$("a.calloutLinks").click(function(){
	    	analytics.track('Clicked '+$(this).attr('title')+' Home Callout');
		});
	
	
	})
	
  analytics.page('Homepage');
</script> 