<style>
  * {
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
  }
  h7 {
    font-size: 20px;
    display: block;
  }
  .press img, .press h6, .press hr {
    opacity: 0.5;
  }
    .press img:hover {
      opacity: 1;
    }
    .feature-tiles img:hover {
      opacity: 0.8;
    }
    .feature-tiles a:hover button {
      opacity: 1;
    }
  .feature-tiles button {
    position: relative;
    margin-top: -100%;
    background-color: rgba(0, 0, 0, 0.2);
    border: 3px solid #fff;
    padding: 10px 40px;
    font-size: 20px;   
    opacity: 0;
  }
  .feature-tiles h7 {
    margin-top: -24px;
  }
  .feature-tiles p {
    margin-bottom: 15px;
  }
    .feature-tiles button:hover {
      background-color: #fff;
      color: #000;
    }
  @media (max-width: 767px) {
    .feature-tiles button {
      font-size: 12px;
      padding: 6px 20px;
      border: 2px solid #fff;
      margin-top: -120%;
    }
  }
</style>
<!-- Liquid Variables to change assets and copy -->


<!-- Main Featured Header -->
</main>
  <section class="section-container feature-header">
      <div class="flexslider">
        <ul class="slides">  
            <li>
            <a href="/collections/stainless-steel"><img src="https://cdn.shopify.com/s/files/1/0358/9733/files/banner-2_1.jpg?1400823031717749566" /></a>
          </li>  
           <li>		
            <a href="/collections/fathers-day-collection"><img src="https://cdn.shopify.com/s/files/1/0358/9733/files/home_page_1.jpg?14739746995436511059" /></a>		
          </li> 
           <li>
            <a href="/collections/best-sellers"><img src="https://cdn.shopify.com/s/files/1/0358/9733/files/modifymoment-fanfavorite.jpg?12162949418146181813" /></a>
          </li>       
              
                              
        </ul>
      </div>
  </section>

<main class="wrapper main-content medium-margin" role="main">
  <hr class="orangeDash-center" />
  <!-- Featured Tiles -->
  <section class="feature-tiles genSection">
    <div class="grid-uniform section-body-content featured-collections text-center">
      <!--<h6>FEATURED</h6>-->
      
      <div class="grid__item one-third small--one-half">
        <a href="/collections/best-sellers">
          <img class="leading" src="https://cdn.shopify.com/s/files/1/0358/9733/files/BestSellersNew_Tile2.jpg?10073011329216292935" />
          <div class="buttonFrame"><button class="btn--secondary">SHOP</button></div>
          <h7>Best Sellers</h7>
        </a>
        <hr class="orangeDash-center" />
        <p>No need to think!</p>
      </div>
      <div class="grid__item one-third small--one-half">
        <a href="/collections/the-straps">
          <img class="trailing" src="https://cdn.shopify.com/s/files/1/0358/9733/files/allstraps.jpg?15694533436246528253" />
          <div class="buttonFrame"><button class="btn--secondary">SHOP</button></div>
          <h7>All Straps</h7>
        </a>
        <hr class="orangeDash-center" />
        <p>Pick up a few, they're interchangeable!</p>
      </div>

     
      
      <div class="grid__item one-third small--one-half">
        <a href="/pages/custom">
          <img src="https://cdn.shopify.com/s/files/1/0358/9733/files/custom2-1.jpg?17980001375266300657" />
          <div class="buttonFrame"><button class="btn--secondary">CUSTOMIZE</button></div>
          <h7>Custom Watches</h7>
        </a>
        <hr class="orangeDash-center" />
        <p>For loved ones, groups or your team at work</p>
      </div>
      
      <div class="grid__item one-third small--one-half">
        <a href="/pages/artists">
          <img class="leading" src="https://cdn.shopify.com/s/files/1/0787/5183/files/Artists_Tile.jpg?2334580579540407743" />
          <div class="buttonFrame"><button class="btn--secondary">SHOP</button></div>
          <h7>Artists</h7>
        </a>
        <hr class="orangeDash-center" />
        <p>Illustrators, cartoonists, fine artists and more</p>
      </div>
       <div class="grid__item one-third small--one-half">
        <a href="/collections">
          <img src="https://cdn.shopify.com/s/files/1/0787/5183/files/Sports2_Tile.jpg?2334580579540407743" />
          <div class="buttonFrame"><button class="btn--secondary">SHOP</button></div>
          <h7>Sports Teams</h7>
        </a>
        <hr class="orangeDash-center" />
        <p>Official licensee of the NBA, MLB, NHL, MLS</p>
      </div>
      <div class="grid__item one-third small--one-half">
        <a href="/pages/nonprofits">
          <img class="trailing" src="https://cdn.shopify.com/s/files/1/0787/5183/files/Nonprofit2_Tile.jpg?17308640354313327030" />
          <div class="buttonFrame"><button class="btn--secondary">SHOP</button></div>
          <h7>Nonprofits</h7>
        </a>
        <hr class="orangeDash-center" />
        <p>Support over 25 amazing organizations</p>
      </div>                 
      
            
    </div>
  </section>

</main>
<!-- Press Bubbles Section -->
<section class="grid--full one-whole genSection grey-bg press">
    <!-- Wrapper Grid -->
    <main class="wrapper" role="main">
    <div class="grid--full large--one-whole text-center text-white">
        <h6>AS SEEN IN</h6>
        <hr class="orangeDash-center" />
        <a class="grid__item large--one-sixth medium--one-quarter small--one-third" href="https://www.youtube.com/watch?v=4ugFPIfG5b0#t=2m21s"><img class="five-sixths" src="{{ 'Press_Ellen.png' | asset_url }}" alt="Ellen" /></a>
        <a class="grid__item large--one-sixth medium--one-quarter small--one-third" href="http://news.yahoo.com/deals-and-steals-beach-party-edition-173339934.html"><img class="five-sixths" src="{{ 'Press_GoodMorningAmerica.png' | asset_url }}" alt="CBS Good Morning America" /></a>
        <a class="grid__item large--one-sixth medium--one-quarter small--one-third" href="http://www.menshealth.com/style/watches-brights"><img class="five-sixths" src="{{ 'Press_MensHealth.png' | asset_url }}" alt="Men's Health" /></a>
        <a class="grid__item large--one-sixth medium--one-quarter small--one-third" href="http://old.modifywatches.com/templates/Modify/images/default/press/WomensHealthJune2013.pdf"><img class="five-sixths" src="{{ 'Press_WomensHealth.png' | asset_url }}" alt="Women's Health" /></a>
        <a class="grid__item large--one-sixth medium--one-quarter small--one-third" href="http://www.today.com/id/49063771/ns/today-video/#51036431"><img class="five-sixths" src="{{ 'Press_Today.png' | asset_url }}" alt="Today Show" /></a>
        <a class="grid__item large--one-sixth medium--one-quarter small--one-third" href="https://instagram.com/p/OooPktED28/"><img class="five-sixths" src="{{ 'Press_VanityFair.png' | asset_url }}" alt="Vanity Fair" /></a>
        <a class="grid__item large--one-sixth push--large--one-twelfth medium--one-quarter small--one-third" href="http://www.self.com/fitness/runners/2013/09/nighttime-running-gear-slideshow/1"><img class="five-sixths" src="{{ 'Press_Self.png' | asset_url }}" alt="Self Magazine" /></a>
        <a class="grid__item large--one-sixth push--large--one-twelfth medium--one-quarter small--one-third" href="http://boss.blogs.nytimes.com/2012/01/05/turning-facebook-followers-into-online-focus-groups/"><img class="five-sixths" src="{{ 'Press_NYT.png' | asset_url }}" alt="The New York Times" /></a>
        <a class="grid__item large--one-sixth push--large--one-twelfth medium--one-quarter push--medium--one-eighth small--one-third" href="https://twitter.com/mitsu_tsuchiya/status/354314395058319362"><img class="five-sixths" src="{{ 'Press_Nylon.png' | asset_url }}" alt="Nylon" /></a>
        <a class="grid__item large--one-sixth push--large--one-twelfth medium--one-quarter push--medium--one-eighth small--one-third push--small--one-twelfth" href="http://www.vogue.com/13295927/best-back-to-school-denim-kids-kidswear/"><img class="five-sixths" src="{{ 'Press_Vogue.png' | asset_url }}" alt="Vogue" /></a>
        <a class="grid__item large--one-sixth push--large--one-twelfth medium--one-quarter push--medium--one-eighth small--one-third push--small--one-twelfth" href="http://www.inc.com/young-entrepreneur-council/3-customer-service-rules-to-work-by.html"><img class="five-sixths" src="{{ 'Press_Inc.png' | asset_url }}" alt="Inc" /></a>
    </div>
    </main>
</section>

  <!-- Secondary Feature Header -->
  <section class="section-container feature-header">
      <div>
        <a href="/pages/collaboration-form"><img src="https://cdn.shopify.com/s/files/1/0358/9733/files/apply-for-storefront-homepage.jpg?14739746995436511059" /></a>
      </div>
  </section>
<main class="wrapper main-content" role="main">
<!-- Social -->
{% include 'instagram-feed' %}

<!-- Scripts -->
<script defer src="https://cdn.shopify.com/s/files/1/0358/9733/t/3/assets/jquery.flexslider.js"></script>
<script>
/* FEATURE SLIDER SCRIPT */
	$(window).ready(function() {
		$('.feature-header .flexslider').flexslider({
			animation : "slide"
		});
	});
</script>
<script type="text/javascript">
  analytics.page('Homepage');
</script>