<style>
  .storefrontHeader {
    background-image: url({{ 'storefront_Header.jpg' | asset_url }});
    background-size: cover;
    padding: 120px 0;
  }
  h2 { margin-bottom: 4px; }  
  .subCopy { margin-bottom: 20px; }  
  .press img { opacity: 0.6; }
  .press img:hover { opacity: 1; }
</style>

</main>
<!-- Main Header Section -->
<section class="grid--full large--one-whole">
  <div class="grid__item large--one-half medium--two-fifths text-center huge-margin">
    <h1>Great custom watches for your fans</h1>
    (NO cost or effort for you)
    <div class="large--three-quarters push--large--one-fifth medium--one-whole small--one-whole big-margin">
      <ul class="text-left storefrontUL">
        <li>Professional design help (yes, it's free)</li>
        <li>Your watches lives on ModifyWatches.com AND your site too!</li>
        <li>You hold zero inventory. AKA there's no risk for you</li>
        <li>Okay, fine. You can have bulk discounts too</li>
      </ul>
    </div>
  </div>
  <div class="grid__item large--one-half medium--three-fifths text-center">
    <img src="https://cdn.shopify.com/s/files/1/0358/9733/files/MacBook-Pro-music_ffc37582-467f-4b60-aabe-88547b17dd10.jpg?6225528610085624154"/>
    <h4 class="purpleText">Partners have already raised $60,000!</h4>
  </div>  
</section>

<section class="grid--full large--one-whole big-margin" id="form">
  <div class="grid__uniform text-center">
    <h2 class="orange-text">Apply for your free shop today!</h2>

    <div class="grid__item large--one-half push--large--one-quarter medium--three-quarters push--medium--one-eighth">
      
      <div id="wufoo-qzcxtkn1ajf44t">
        Fill out my <a href="https://modifywatches.wufoo.com/forms/qzcxtkn1ajf44t/def/field1657=elantest">online form</a>.
      </div>

      <script type="text/javascript">
        $(window).load(function() {

          analytics.page('Partner Registration');

          var formPage =-1;   

          {% if customer.id %}
            var segment_user_id = {{ customer.id }};
          {% else %}
            var  segment_user_id = analytics.user().anonymousId();
          {% endif %}    

          var qzcxtkn1ajf44t;(function(d, t) {
            var s = d.createElement(t), options = {
              'userName':'modifywatches',
              'formHash':'qzcxtkn1ajf44t',
              'autoResize':true,
              'height':'815',
              'async':true,
              'host':'wufoo.com',
              'header':'hide',
              'defaultValues':'field1657='+segment_user_id,
              'ssl':true};
              s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
              s.onload = s.onreadystatechange = function() {

                var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                try { qzcxtkn1ajf44t = new WufooForm();qzcxtkn1ajf44t.initialize(options);qzcxtkn1ajf44t.display(); } catch (e) {}

                $("#wufooFormqzcxtkn1ajf44t").on("load", function () {
                  formPage++; 
                  if (formPage != 0) {
                    analytics.track('Completed Partner Registration Step '+ formPage);
                  };
                });

              };

              var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
            })(document, 'script');

        })
      </script>
    </div>
  </div>
</section>



<!-- Open your shop CTA -->

<!-- Press Bubbles Section -->
<section class="grid--full large--one-whole genSection orange-bg press">
  <!-- Wrapper Grid -->
  <main class="wrapper" role="main">
    <div class="grid--uniform large--one-whole">
      <a class="grid__item large--one-sixth medium--one-quarter small--one-third" href="https://www.youtube.com/watch?v=4ugFPIfG5b0#t=2m21s"><img class="five-sixths push--one-twelfth" src="{{ 'Press_Ellen.png' | asset_url }}" alt="Ellen" /></a>
      <a class="grid__item large--one-sixth medium--one-quarter small--one-third" href="http://news.yahoo.com/deals-and-steals-beach-party-edition-173339934.html"><img class="five-sixths push--one-twelfth" src="{{ 'Press_GoodMorningAmerica.png' | asset_url }}" alt="CBS Good Morning America" /></a>
      <a class="grid__item large--one-sixth medium--one-quarter small--one-third" href="http://www.menshealth.com/style/watches-brights"><img class="five-sixths push--one-twelfth" src="{{ 'Press_MensHealth.png' | asset_url }}" alt="Men's Health" /></a>
      <a class="grid__item large--one-sixth medium--one-quarter small--one-third" href="http://old.modifywatches.com/templates/Modify/images/default/press/WomensHealthJune2013.pdf"><img class="five-sixths push--one-twelfth" src="{{ 'Press_WomensHealth.png' | asset_url }}" alt="Women's Health" /></a>
      <a class="grid__item large--one-sixth medium--one-quarter small--one-third" href="http://www.today.com/id/49063771/ns/today-video/#51036431"><img class="five-sixths push--one-twelfth" src="{{ 'Press_Today.png' | asset_url }}" alt="Today Show" /></a>
      <a class="grid__item large--one-sixth medium--one-quarter small--one-third" href="https://instagram.com/p/OooPktED28/"><img class="trailing" class="five-sixths push--one-twelfth" src="{{ 'Press_VanityFair.png' | asset_url }}" alt="Vanity Fair" /></a>
      <a class="grid__item large--one-sixth push--large--one-twelfth medium--one-quarter small--one-third" href="#"><img class="leading" class="five-sixths push--one-twelfth" src="{{ 'Press_Self.png' | asset_url }}" alt="Self Magazine" /></a>
      <a class="grid__item large--one-sixth push--large--one-twelfth medium--one-quarter small--one-third" href="http://boss.blogs.nytimes.com/2012/01/05/turning-facebook-followers-into-online-focus-groups/"><img class="five-sixths push--one-twelfth" src="{{ 'Press_NYT.png' | asset_url }}" alt="The New York Times" /></a>
      <a class="grid__item large--one-sixth push--large--one-twelfth medium--one-quarter push--medium--one-eighth small--one-third" href="https://twitter.com/mitsu_tsuchiya/status/354314395058319362"><img class="five-sixths push--one-twelfth" src="{{ 'Press_Nylon.png' | asset_url }}" alt="Nylon" /></a>
      <a class="grid__item large--one-sixth push--large--one-twelfth medium--one-quarter push--medium--one-eighth small--one-third push--small--one-twelfth" href="http://www.vogue.com/13295927/best-back-to-school-denim-kids-kidswear/"><img class="five-sixths push--one-twelfth" src="{{ 'Press_Vogue.png' | asset_url }}" alt="Vogue" /></a>
      <a class="grid__item large--one-sixth push--large--one-twelfth medium--one-quarter push--medium--one-eighth small--one-third push--small--one-twelfth" href="http://www.inc.com/young-entrepreneur-council/3-customer-service-rules-to-work-by.html"><img class="five-sixths push--one-twelfth" src="{{ 'Press_Inc.png' | asset_url }}" alt="Inc" /></a>
    </div>
  </main>
</section>
<!-- Mini Partner FAQ Section -->
<section class="grid__item large--one-whole genSection rte">
  <!-- Wrapper Grid -->
  <main class="wrapper" role="main">
    <div class="large--one-whole">
      <h2 class="text-center">
        Frequently Asked Questions
      </h2>
      <p class="text-center subCopy">
        Here are some common questions about partnering with Modify.
        <p>
        </div>

        <div class="grid genSection">    
          <div class="grid__item large--one-half">
            <h3>
              What do you mean, No Cost and No Risk?
            </h3>
            <p>
              You're busy. You are building your brand, helping folks/animals/the environment with your nonprofit, or maybe just creating exceptional art or music.
            </p>
            <p>
              We are not busy! So we've invested in the ability to bring the best of what the "big guys" get, to you. 
            </p>
            <p>
              That means: free design, print-on-demand production (you don't pay a cent!), great marketing advice and of course, fast fulfillment and great service.
            </p>
          </div>

          <div class="grid__item large--one-half">
            <h3>
              Why print-on-demand?
            </h3>
            <p>
              Waste stinks ... and so does risk. By creating everything print-on-demand, your fans will be getting the freshest product (literally hot off the presses). And no one will sit on inventory that is stale. 
            </p>
            <p>    
              AND, well, sometimes a great design doesn't sell. So this gives you an opportunity to test out a lot of products before you make a commitment. That way your fans always get designs that they love.
            </p>
          </div>
        </div>

        <div class="grid genSection">
          <div class="grid__item large--one-half">
            <h3>
              How do I sign up?
            </h3>
            <p>
              All you need to do to sign up is fill in this 
              <a href="#form">form.</a>
            </p>
            <p>
              Modify works with any individual or organization that has an audience. 1,000 fans on Facebook? That works for us. 2,500 people on a newsletter you send? GREAT. 
            </p>
            <p>
              Your fans and supporters should be able to wear their passion ... we'll help you deliver this.
            </p>
          </div>

          <div class="grid__item large--one-half">
            <h3>
              How much do I get?
            </h3>
            <p>
              20% of the revenue of every sale goes to you! If you're a nonprofit - or if you want to donate your proceeds to a nonprofit - you get 30%. Not profit. Not margin. But revenue. Sell a watch for $50? You get $10 (or $15).
            </p>
            <p>
              Your fans love your story - help them wear their passion on a daily basis.
            </p>
          </div>
        </div>
      </main>
    </section>

    <!-- Support Section -->
    <section class="grid__item large--one-whole genSection purple-bg text-white ">
      <!-- Wrapper Grid -->
      <main class="wrapper rte" role="main">

        <h2 class="text-center">
          Help when you need it.
        </h2>
        <p class="text-center subCopy">
          Building your brand comes first. Got a question? Just ask!
        </p>

        <div class="grid genSection">
          <div class="grid__item large--one-half medium--one-half small--one-half">
            <img class="grid__item large--one-fifth medium--one-half push--medium--one-quarter" src="{{ 'Support_TalkIcon.png' | asset_url }}" alt="Talk to us" />
            <div class="grid__item large--four-fifths">
              <h3>
                Talk to us
              </h3>
              <p>
                Contact us whenever you have a question.<br />
                Email us at <a href="mailto:partners@modifywatches.com">partners@modifywatches.com</a>
              </p>
            </div>
          </div>

          <div class="grid__item large--one-half medium--one-half small--one-half">
            <img class="grid__item large--one-fifth medium--one-half push--medium--one-quarter" src="{{ 'Support_GuideIcon.png' | asset_url }}" alt="Your guide to success" />
            <div class="grid__item large--four-fifths">
              <h3>
                Your guide to success
              </h3>
              <p>
                Learn the do's do not's, maybe do's and probably don't with our Partner Handbook.
              </p>
            </div>
          </div>
        </div>

        <div class="grid genSection">
          <div class="grid__item large--one-half medium--one-half small--one-half">
            <img class="grid__item large--one-fifth medium--one-half push--medium--one-quarter" src="{{ 'Support_NewsletterIcon.png' | asset_url }}" alt="Partner newsletters" />
            <div class="grid__item large--four-fifths">
              <h3>
                Partner newsletters
              </h3>
              <p class="subCopy">
                Every month we send out a newsletter just for our partners, with case studies and tips to help you grow!
              </p>
            </div>
          </div>

          <div class="grid__item large--one-half medium--one-half small--one-half">
            <img class="grid__item large--one-fifth medium--one-half push--medium--one-quarter" src="{{ 'Support_DesignerIcon.png' | asset_url }}" alt="Your personal designer" />
            <div class="grid__item large--four-fifths">
              <h3>
                Your personal designer
              </h3>
              <p>
                Work with our designers to bring your new merchandise to life. They'll work with you until you can't wait to call all your friends and family.
              </p>
            </div>
          </div>
        </div>
      </main>
    </section>


    <!-- Bottom CTA Section -->
    <section class="grid--full large--one-whole small--one-whole genSection grey-bg text-center text-white">
      <h1 style="margin-bottom: 4px;">
        Open your shop <u>today!</u>
      </h1>
      <p class="subCopy">
        Help your fans rep the brand they love... yours! It's completely free to get started.
      </p>

      <a href="#form">
        <button class="btn--secondary">
          Get started, it's free!
        </button>
      </a>
    </section>

    <!-- Scripts -->
    {{ 'smooth-scroll.js' | asset_url | script_tag }}